<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Pelamar</title>
</head>
<body>
	<!-- <input type="text" th:value="${tanda}" id="tanda"> -->
	<table style="width: 90%;" class="table table-striped">
		<tbody>
			<tr th:each="sp :${semuapelamar}">
			<td style="color:gray; width:200px; line-height: 15px">
				<label style="color: navy; font-size: 18px; line-height: 30px" th:text="${sp.fullName}"></label><br>
				<label>Nama Panggilan</label><br>
				<label>Email</label><br>
				<label>No. Handphone</label><br>
				<label>Pendidikan</label><br>
			</td>
			<td style="color: navy; width:500px; line-height: 15px">
				<label style="color: transparent; font-size: 18px; line-height: 30px">1</label><br>
				<label th:text="${sp.nickName}"></label><br>
				<label th:text="${sp.email}"></label><br>
				<label th:text="${sp.phoneNumber1}"></label><br>
				<label th:text="${sp.schoolName}"></label><br>
			</td>
			<td style="width:30px">
				<label style="color: transparent; font-size: 18px; line-height: 15px">1</label><br>
				<label style="color: transparent; font-size: 18px; line-height: 15px">1</label><br>
				<label>
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
				style="text-align: left; background: none; border: none; width: 100%;">
				<span style="color: navy;" class="glyphicon glyphicon-search"></span>
				</button>
				</label>
			</td>
			<td style="width:150px">
				<label style="color: transparent; font-size: 18px; line-height: 15px">1</label><br>
				<label style="color: transparent; font-size: 18px; line-height: 15px">1</label><br>
				<label>
				<button class="btn btn-success" th:href="'/kirimtoken/' + ${sp.id}" onclick="krmform(this)"
				style="text-align: left; background: none; border: none; width: 100%;">
				<span style="color: navy;" class="glyphicon glyphicon-envelope"></span>
				</button>
				</label>
			</td>
		</tr>
		</tbody>
	</table>

</body>
<script src="pelamar/pelamarlist.js"></script>
<script src="pelamar/kirimtoken.js"></script>
</html>
