<!DOCTYPE html>
<html>
<div class="row">

	<div style="width: 105%;" class="form-horizontal">
	<input th:object="${pelamarbyid}" type="hidden" id="ids" name="ids" th:field="*{id}">
	
	 <div class="form-group col-sm-12">
		<!-- <div class="col-md-3 sidebar col-sm-1 control-label"> -->
		<div class="col-sm-3" style="margin-left:10px; width:250px;">
			<ul class="list-group lg1">
				<li><button class="list-group-item dp" th:href="'/profillist/' + ${pelamarbyid.id}" style="text-align: left; border-color: navy;">Profil</button></li>
				<li><a href="/biodata" class="list-group-item dp" style="text-align: left; border-color: navy;">Biodata</a></li>
				<li><button class="list-group-item dp" th:href="'/pengalamankerjalist/' + ${pelamarbyid.id}" style="text-align: left; border-color: navy;">Pengalaman Kerja</button></li>
				<li><a href="/pendidikan" class="list-group-item dp" style="text-align: left; border-color: navy;">Pendidikan</a></li>
				<li><button class="list-group-item dp" th:href="'/pelatihanlist/' + ${pelamarbyid.id}" style="text-align: left; border-color: navy;">Pelatihan</button></li>
				<li><a href="/sertifikasi" class="list-group-item dp" style="text-align: left; border-color: navy;">Sertifikasi</a></li>
				<li><a href="/sumberlowongankerja" class="list-group-item dp" style="text-align: left; border-color: navy;">Sumber Lowongan Kerja</a></li>
				<li><a href="/organisasi" class="list-group-item dp" style="text-align: left; border-color: navy;">Organisasi</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Keluarga</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Keahlian</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Lain Lain</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Dokumen</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Catatan</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Aktivasi Akun</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Lihat Tes</a></li>
				<li><a href="/keluarga" class="list-group-item dp" style="text-align: left; border-color: navy;">Hasil Tes</a></li>
				

			</ul>
		 </div>
		<div id="pelamardetailisi"></div>
		
		</div>
	</div>
</div>
<script src="pelamar/pelamardetail.js"></script>
</html>