<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- BootstrapValidator CSS -->
<!--    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/> -->

<link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="Css/style.css" rel="stylesheet">
<link href="Css/jquery-ui.css" rel="stylesheet">
<link href="../Css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="Css/bootstrap-datetimepicker.css" rel="stylesheet">
        <link href="Css/jquery.timepicker.min.css" rel="stylesheet">

<script src="jquery.js"></script>
<script src="jquery-clock-timepicker.min.js"></script>

<script src="../js/jquery-ui.js" ></script>
<script src="../js/jquery.dataTables.min.js"></script>
<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bootbox/bootbox.min.js"></script>
<script src="../js/jquery.dataTables.min.js" ></script>

<!--  <script src="js/moment.js"></script>
        
        <script src="js/jquery.timepicker.min.js"></script>
        <script src="js/bootstrap-datetimepicker.js"></script> -->
        

 <!-- BootstrapValidator JS -->
<!--     <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script> -->

</head>
<body>
<!------ Include the above in your HEAD tag ---------->
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>


		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">			
			<ul class="nav navbar-nav navbar-left" id="t1">
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					Menu 1
				</a>
				</li>
				
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown ">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="glyphicon glyphicon-bell" th:text="' Account : '+${useraktif}"></span> &nbsp; 
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="dropdown-header"></li>
						<li class=""><a href="#">Ubah Kata Sandi</a></li>
						<li class=""><a href="/logout">Logout</a></li>
						
						<li class="divider"></li>
						<li></li>
					</ul>
				</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		</nav>
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	  		<div class="container">
		  		<div class="navbar-header">
		  			<a class="navbar-brand" href="#">
						<img src="/img/xsis.png">
<!-- 							<h2 style="color: navy;">XSIS 2.0</h2> -->
					</a>
				</div>
			</div>
		</nav>

	<div class="container main-container">
		<div class="col-md-2 sidebar">
			<ul class="list-group">
				<li><a href="/" class="list-group-item">Beranda</a></li>
				<li><a href="/pelamar" class="list-group-item">Pelamar</a></li>			
				<li><a href="/undangan" class="list-group-item">Undangan</a></li>
			</ul>
		</div>
			<div class="col-md-10 content">
                
                <div id="fragment"></div>
                
            </div> 
            
<!-- 		<footer> -->
<!-- 			<p class="col-md-12" align="center"> -->
<!-- 				Copyright &copy; 2019 JAVA Batch 225 XSIS Mitra Utama -->
<!-- 			</p> -->
<!-- 		</footer> -->
	</div>
</body>

<script>

/* $("#t1").append(" <li class=\"dropdown \" >");
$("#t1").append(" <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-expanded=\"false\"> Menu 2");
$("#t1").append("</li>"); */

$("#t1").append(" <li class=\"dropdown \" >"+
" <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-expanded=\"false\"> Menu 2"+
"</li>");

 
	
	$('.list-group-item').click(function(){
		var url=$(this).attr('href');
		$.ajax({
			url : url,
			type : 'get',
			dataType : 'html',
			success : function(result) {
			if(url=="/"){
				window.location='/';
				}else{
					$('#fragment').html(result);
				}
			}

		});
		return false;
	});
	
</script>
</html>
