<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Ini Upload</title>
</head>
<body>
	<h3>Upload</h3>
	<table>
		<tr>
			<td>Download File</td>
		</tr>
		<tr th:each="dt :${fresult}">
			<td><a th:href="'download/'+${dt}" th:text="${dt}"></a> </td>
		</tr>
	</table>
	<br>
	<form enctype="multipart/form-data" action="/naikin" method="POST">
		<input type="file" name="uploadingFiles" multiple>
		<input type="submit" value="Upload">
	</form>
</body>
</html>