<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 <input type="hidden" id="idbiodata" name="idbiodata" th:value="${pelatihanbyid}">
 
	<table style="width: 70%; margin-left:30px" class="table table-striped">
		<thead>
			<tr>
				<td style="font-size: large; color: navy;"><b>Pelatihan</b><input type="image" alt="tambah" src="images/tambah.png" style="width:20px;height:20px;" onclick="addform()"></td>
			</tr>
			<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
				<td><font color="navy"><b>PELATIHAN/WORKSHOP</b></font></td>
				<td><font color="navy"><b>PENYELENGGARA</b></font></td>
				<td><font color="navy"><b>WAKTU</b></font></td>
				<td><font color="navy"><b>DURASI</b></font></td>
				<td><font color="navy"><b>#</b></font></td>
			</tr>
		</thead>
		<tbody>
			<tr style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);" th:each="sk :${semuapelatihan}">
				<td th:text="${sk.trainingName}"></td>
				<td th:text="${sk.organizer}"></td>
				<td th:text="${sk.trainingYear} + '-' + ${sk.trainingMonth}"></td>
				<td th:text="${sk.trainingDuration} + ' ' + ${sk.name}"></td>

				<td>
					<div class="dropdown">
  						<button style="background-color:navy" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				 			<b style="color:white;">More</b>
  						</button>
  						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color:navy;">
    						<button class="btn btn-link" th:href="'/pelatihanedit/' + ${sk.id}" onclick="editpelatihan(this)">Ubah</button>
    						<br>
    						<button class="btn btn-link" th:href="'/pelatihandelete/' + ${sk.id}" onclick="deletepelatihan(this)">Hapus</button>
  						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	
	<!-- ====================== Modal add ============================= -->
	<!-- The Modal -->
		<div class="modal" id="pelatihanModal">
			<div class="modal-dialog modal-lg" >
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
							<b style="font-size: large; " class="modal-title" id="judulpeladd"></b>
							<!-- <h4 class="modal-title">Tambah Pelatihan -->
							<button type="button" class="close" onclick="tutupmodal()">&times;</button>
							<!-- </h4> -->
						</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" style="height: 100%" id="nonpelatihanlist" ></div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		
	<!-- ====================== Modal edit ============================= -->
	<!-- The Modal -->
		<div class="modal" id="pelatihaneditModal">
			<div class="modal-dialog modal-lg" >
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
							<b style="font-size: large; " class="modal-title" id="judulpeledit"></b>
							<!-- <h4 class="modal-title">Tambah Pelatihan -->
							<button type="button" class="close" onclick="tutupmodal()">&times;</button>
							<!-- </h4> -->
						</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" style="height: 100%" id="nonpelatihaneditlist" ></div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	
	<!-- ====================== Modal del ============================= -->
	<!-- The Modal -->
	<div class="modal" id="delpelatihanModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header" style="background-color:#A52A2A; color:white;">
					<b style="font-size: large;" class="modal-title" id="judul2"></b>
					<!-- <h4 class="modal-title">Hapus ? -->
					<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					<!-- </h4> -->
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="delpelatihanlist"></div>
				</div>
			</div>
		</div>
	</div>	
	
</body>
<script src="pelatihan/pelatihanlist.js"></script>
</html>