<!DOCTYPE html>
<html>
<link href="pelatihan/pelatihan.css" rel="stylesheet">
<div class="row">
 
	<form action="#" id="datanewpelatihan" method="post" class="form-horizontal">
	<input type="hidden" id="biodataId" name="biodataId" th:value="${ids}">
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label" id="krs">Nama (kursus, penataran, pelatihan, workshop)*</label> 
			<input type="text" name="trainingName" id="trainingName" class="form-control" onkeyup="cek1(), mxlength1()"/>
			<span class="error_form" id="kursus"></span>
		</div>
		
		<div class="col-sm-6">
			<label class="control-label" id="plg">Penyelenggara*</label> 
			<input type="text" name="organizer" id="organizer" class="form-control" onkeyup="cek2(), mxlength2()"/>
			<span class="error_form" id="plygr"></span>
		</div>
	</div>
	
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label">Waktu Pelaksanaan</label>
		</div>
		<div class="col-sm-6">
			<label class="control-label">Lama Durasi</label>
		</div>
		
		<div class="col-sm-3">
			<select class="selectpicker form-control" title="Pilih Bulan" name="trainingMonth" >
				<option value="0">-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
		</div>
		
		<div class="col-sm-3">
			<select class="selectpicker form-control" title="Pilih Tahun" name="trainingYear">
				<option value=0>-Pilih Tahun-</option>
				<option th:each="th :${tahun}" th:text="${th}"></option>
			</select>
		</div>
		
		<div class="col-sm-3">
			<input type="text" class="form-control" name="trainingDuration"/>
		</div>
		
		<div class="col-sm-3">
			<select name="timePeriodId" class="selectpicker form-control" title="Pilih">
				<option value=0>-Pilih-</option>
				<option th:each=" t: ${timeperiod}" th:text="${t.name}" th:value="${t.id}"></option>
			</select>
		</div>
	</div>
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label">Kota</label> <input type="text" class="form-control" name="city" />
		</div>
		<div class="col-sm-6">
			<label class="control-label">Negara</label> <input type="text" class="form-control" name="country" />
		</div>
	</div>
		
	<div class="form-group col-sm-12">
		<div class="col-sm-12">
			<label class="control-label" id="ctt">Catatan</label>
			<textarea class="form-control" id="notes" name="notes" onkeyup="mxlength3()"/></textarea>
			<span class="error_form" id="nts"></span>
		</div>
	</div>
	
	<!-- <div class="form-group col-sm-12"> -->
			<div style="text-align:right; margin-right:45px">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group" aria-label="Basic example">
					<button onclick="tutupmodal2()" type="button" class="btn btn-secondary" style="background-color: #fd7e14; color: white;">Batal</button>
					<button onclick="btsave()" type="button" class="btn btn-secondary" id="btn_simpan"  style="background-color: navy; color: white;">Simpan</button>
				</div>
			</div>
		<!-- </div> -->
	</form>
</div>
<script src="pelatihan/pelatihanadd.js"></script>
</html>