<!DOCTYPE html>
<html>
<div class="container">
	<form action="#" id="datanewkeahlian" method="post"
		class="form-horizontal">
		<input name="biodataId" value="1" type="hidden">
		
			<div class="col-sm-3">
				<label class="control-label"> Nama Keahlian</label> 
				<input name="skillName" class="form-control"> 
			</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-4">
				<label class="control-label">Level Keahlian *</label>
				<select	id="skillLevelId" name="skillLevelId" class="selectpicker form-control ">
					<option value="">- Pilih -</option>
					<option th:each="s :${listskill}" th:text="${s.name}"
						th:value="${s.Id}"></option>
				</select> 
			</div>
		</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-8">
				<label class="control-label"> Catatan </label>
				<input name="notes"	style="  width: 100%; height: 100px; padding: 5px 10px;" class="form-control">
				
				
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-4">
				<div class="btn-group " role="group" aria-label="Basic example"  >
				<button data-dismiss="modal" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Batal</button>
				<button type="submit" class="btn btn-secondary" style="background-color:navy; color:white;">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="keahlian/keahlianadd.js"></script>
</html>