<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>

				<td>Nama Keahlian</td>
				<td>Level Keahlian</td>
				<td>#</td>

			</tr>
		</thead>
		<tbody>
			<tr th:each="sk :${semuakeahlian}">
				<td th:text="${sk.skillName}"></td>
				<td th:text="${sk.name}"></td>
				<td>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/keahlianedit/' + ${sk.Id}" onclick="editkeahlian(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/keahliandelete/' + ${sk.Id}" onclick="deletekeahlian(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>



</body>
<script src="keahlian/keahlianlist.js"></script>
</html>