

<div class="container">
	<div class="form-horizontal">
	 <div class="form-group">
		<div class="col-md-2 sidebar col-sm-1 control-label">
			<ul class="list-group lg1">
				<li><a href="/" class="list-group-item dp">Profil</a></li>
				<li><a href="/halvalidasi" class="list-group-item dp">Sertifikasi</a></li>
				<li><a href="/halvalidasi" class="list-group-item dp">Organisasi</a></li>

			</ul>
		 <div>
		<div id="pelamardetailisi"></div>
		
		</div>
	</div>
</div>
<script src="pelamar/pelamardetail.js"></script>