<!DOCTYPE html>
<html>
<div class="container">
	<div class="form-horizontal">
	 <div class="form-group">
		 
		<input th:object="${pelamarbyid}" type="hidden" id="ids" name="ids" th:field="*{id}">
		<div class="col-md-2 sidebar col-sm-1 control-label">
			<ul class="list-group lg1">
				<li><a href="/" class="list-group-item dp">Profil</a></li>
				<li><a href="/" class="list-group-item dp">Biodata</a></li>
<!-- 			<li><a href="/pendidikan" class="list-group-item dp">Pendidikan</a></li> -->
				<li><button class="list-group-item dp" th:href="'/pendidikanlist/' + ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Pendidikan</button></li>
				<li><button class="list-group-item dp" th:href="'/referensilist/' + ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Lain-lain</button></li>
<!-- 			<li><a href="/sumberlokeredit/1" class="list-group-item dp">Sumber Loker</a></li> -->
				<li><a href="/" class="list-group-item dp">Catatan</a></li>
				<li><a href="/" class="list-group-item dp">Sertifikasi</a></li>
				<li><a href="/" class="list-group-item dp">Keluarga</a></li>
				<li><a href="/" class="list-group-item dp">Keahlian</a></li>
				<li><a href="/" class="list-group-item dp">Dokumen</a></li>
				<li><button class="list-group-item dp" th:href="'/sumberlokeredit/' + ${pelamarbyid.id}" onclick="editsumberloker(this)" style="text-align: right; border-color: navy;">Sumber Loker</button></li>
			</ul>
		 </div>
		<div id="pelamardetailisi"></div>
<!-- 		<div th:each="sp :${semuapelamar}" ><button th:href="'/sumberlokeredit/' + ${sp.id}" onclick="editsumberloker(this)">LALALALALALAL</button></div> -->
		</div>
	</div>
</div>
<script src="pelamar/pelamardetail.js"></script>
</html>