<!DOCTYPE html>
<html>
<link href="resource/resourcedetail.css" rel="stylesheet">
<div class="row">
<!-- <input type="hidden" name="ids" th:field=*{id}> -->
	<div class="panel-group col-sm-12" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading1">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <b>PROJECT INFORMATION</b>
                    <i class="more-less glyphicon glyphicon-triangle-bottom"></i>
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
				<div class="panel-body" style="color: navy">
					<div class="row">
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >Client*</b>
							<br>
							<label style="font-size: medium" th:text="${rj.name}"></label>
						</div>
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >Location</b>
							<br>
							<label style="font-size: medium" th:text="${rj.location}"></label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >Department</b>
							<br>
							<label style="font-size: medium" th:text="${rj.department}"></label>
						</div>
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >User/PIC Name</b>
							<br>
							<label style="font-size: medium" th:text="${rj.picName}"></label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >Project Name</b>
							<br>
							<label style="font-size: medium" th:text="${rj.projectName}"></label>
						</div>
						<div class="col-sm-3" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >Start</b>
							<br>
							<label style="font-size: medium" th:text="${#dates.format(rj.startProject, 'MMMM dd, yyyy')}"></label>
						</div>
						<div class="col-sm-3" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >End</b>
							<br>
							<label style="font-size: medium" th:text="${#dates.format(rj.endProject, 'MMMM dd, yyyy')}"></label>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal">Project Role*</b>
							<br>
							<label style="font-size: medium" th:text="${rj.projectRole}"></label>
						</div>
						<div class="col-sm-6" th:each="rj:${detailresource}">
							<b style="font-size: x-small; font-weight: normal" >Project Phase*</b>
							<br>
							<label style="font-size: medium" th:text="${rj.projectPhase}"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
        <div class="panel panel-default">
           	<div class="panel-heading" role="tab" id="heading2">
               	<h4 class="panel-title">
                   	<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <b>PROJECT DESCRIPTION</b>
                    <i class="more-less glyphicon glyphicon-triangle-bottom"></i>
                  	</a>
               	</h4>
           	</div>
           	<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
           		<div class="row">
           			<div class="panel-body" style="color: navy">
						<div class="col-sm-12" th:each="rj:${detailresource}">
 						<b style="font-weight: normal" th:text="${rj.projectDescription}"></b>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
					<b>PROJECT TECHNOLOGY</b>
                    <i class="more-less glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
				<div class="row">
           			<div class="panel-body" style="color: navy">
						<div class="col-sm-12" th:each="rj:${detailresource}">
 						<b style="font-weight: normal" th:text="${rj.projectTechnology}"></b>
						</div>
					</div>
				</div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <b>MAIN TASK</b>
                    <i class="more-less glyphicon glyphicon-triangle-bottom"></i>
                    </a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="row">
           			<div class="panel-body" style="color: navy">
						<div class="col-sm-12" th:each="rj:${detailresource}">
 						<b style="font-weight: normal" th:text="${rj.mainTask}"></b>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    
    <div class="form-group col-sm-12" style="width: 100%">
		<div class="col-sm-6" style="width: 55%">
				
		</div>
		<div class="col-sm-4" style="width: 30%">
				
		</div>
		<div class="col-sm-2" style="width: 15%">
			<button data-dismiss="modal" class="btn btn-secondary" style="background-color:#ff6600; color:white; width: 100%"><b>Close</b></button>
		</div>
	</div>
</div>


<!-- <div class="row"> -->
<!-- 	<input type="radio" name="accordion" id="cb1" /> -->
<!-- 	<section class="box"> -->
<!--     	<label class="box-title" for="cb1">PROJECT INFORMATION</label> -->
<!-- 		<label class="box-close" for="acc-close"></label> -->
<!-- 		<div class="box-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div> -->
<!-- 	</section> -->
	
<!-- 	<input type="radio" name="accordion" id="cb2" /> -->
<!-- 	<section class="box"> -->
<!-- 		<label class="box-title" for="cb2">PROJECT DESCRIPTION</label> -->
<!-- 		<label class="box-close" for="acc-close"></label> -->
<!-- 		<div class="box-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div> -->
<!-- 	</section> -->
	
<!-- 	<input type="radio" name="accordion" id="cb3" /> -->
<!-- 	<section class="box"> -->
<!-- 		<label class="box-title" for="cb3">PROJECT TECHNOLOGY</label> -->
<!-- 		<label class="box-close" for="acc-close"></label> -->
<!-- 		<div class="box-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div> -->
<!-- 	</section> -->
    
<!-- 	<input type="radio" name="accordion" id="cb4" /> -->
<!-- 	<section class="box"> -->
<!-- 		<label class="box-title" for="cb4">MAIN TASK</label> -->
<!-- 		<label class="box-close" for="acc-close"></label> -->
<!-- 		<div class="box-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div> -->
<!-- 	</section> -->
<!-- </div> -->
	<script src="resource/resourcedetail.js"></script>
</html>