<!DOCTYPE html>
<html>
<div class="row">
<form id="datanewresource" method="post" class="form-horizontal">
	<div class="form-group col-sm-12" style="margin-bottom: 0px">
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Client*</label>
			<select id="clientId" name="clientId" class="selectpicker form-control" onchange="cek1()">
				<option value="">- Pilih -</option>
				<option th:each="c: ${semuaclient}" th:text="${c.name}" th:value="${c.id}"></option>
			</select>
		</div>
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Location</label>
			<input type="text" class="form-control" name="location">
		</div>
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
			<span class="error_form" id="cekerror"></span>
		</div>
	</div>
	
	<div class="form-group col-sm-12" style="margin-bottom: 0px">
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Department</label>
			<input id="department" type="text" class="form-control" name="department">
		</div>
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">User/PIC Name</label>
			<input type="text" class="form-control" name="picName">
		</div>
	</div>
	
	<div class="form-group col-sm-12" style="margin-bottom: 0px">
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Project Name*</label>
			<input id="projectName" type="text" class="form-control" name="projectName" onkeyup="cek2()">
		</div>
		<div class="col-sm-3">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Start*</label>
			<input id="startProject" class="datepicker form-control" name="startProject" autocomplete="off" onchange="cek3()"></input>
		</div>

		<div class="col-sm-3">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">End*</label>
			<input id="endProject" class="datepicker form-control" name="endProject" autocomplete="off" onchange="cek4()">
		</div>
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
			<span class="error_form" id="cekerror2"></span>
		</div>
		<div class="col-sm-3">
			<span class="error_form" id="cekerror3"></span>
		</div>

		<div class="col-sm-3">
			<span class="error_form" id="cekerror4"></span>
		</div>
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
	
		</div>
		<div class="col-sm-6">
			<span class="error_form" id="cekerror10"></span>
		</div>

	</div>
	
	<div class="form-group col-sm-12" style="margin-bottom: 0px">
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Project Role*</label>
			<input id="projectRole" type="text" class="form-control" name="projectRole" onkeyup="cek5()">
		</div>
		<div class="col-sm-6">
			<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Project Phase*</label>
			<input id="projectPhase" type="text" class="form-control" name="projectPhase" onkeyup="cek6()">
		</div>
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
			<span class="error_form" id="cekerror5"></span>
		</div>
	
		<div class="col-sm-6">
			<span class="error_form" id="cekerror6"></span>
		</div>
	</div>
	
	<div class="form-group col-sm-12" style="margin-right: 2px; margin-left: 0.5pt; margin-bottom: 0px">
		<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Project Description*</label>
		<input id="projectDescription" type="text" class="form-control" name="projectDescription" style="width: 96%" onkeyup="cek7()">
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
			<span class="error_form" id="cekerror7"></span>
		</div>
	</div>
	
	<div class="form-group col-sm-12" style="margin-right: 2px; margin-left: 0.5pt; margin-bottom: 0px">
		<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Project Technology*</label>
		<input id="projectTechnology" type="text" class="form-control" name="projectTechnology" style="width: 96%" onkeyup="cek8()">
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
			<span class="error_form" id="cekerror8"></span>
		</div>
	</div>
	
	<div class="form-group col-sm-12" style="margin-right: 2px; margin-left: 0.5pt; margin-bottom: 0px">
		<label class="control-label" style="color: navy; font-weight: normal; font-size: small;">Main Task*</label>
		<input id="mainTask" type="text" class="form-control" name="mainTask" style="width: 96%" onkeyup="cek9()">
	</div>
	
	<div class="col-sm-12">
		<div class="col-sm-6">
			<span class="error_form" id="cekerror9"></span>
		</div>
	</div>
	
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
				
		</div>
		<div class="col-sm-3">
				
		</div>
		<div class="col-sm-3">
			<div class="btn-group" role="group" aria-label="Basic example" style="width: 100%; margin-top: 14px">
				<button data-dismiss="modal" type="button" class="btn btn-secondary" style="background-color:#fd7e14; color:white; width: 50%">Reset</button>
				<button id="btns" onclick="btn1()" type="button" class="btn btn-secondary" style="background-color:navy; color:white; width: 50%">Save</button>
			</div>
		</div>
	</div>
</form>
</div>
<!-- #FF8938 -->
<script src="resource/resourceadd.js"></script>
</html>