<html>
	<table id="tbresource" class="table table-striped">
		<thead>
			<tr style="border-top: thin solid navy; border-bottom: 4px solid navy; color: navy">
				<th>CLIENT</th>
				<th>START</th>
				<th>END</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody id="resourcetb">
			<tr th:each="src :${semuaresource}">
				<td style="border-top: thin solid navy;" th:text="${src.name}"></td>
				<td style="border-top: thin solid navy;" th:text="${#dates.format(src.startProject, 'MMMM dd, yyyy')}"></td>
				<td style="border-top: thin solid navy;" th:text="${#dates.format(src.endProject, 'MMMM dd, yyyy')}"></td>
				<td style="border-top: thin solid navy;">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/resourcedetail/' + ${src.id}" onclick="detailresource(this)">Detail</button></a></li>
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/resourceedit/' + ${src.id}" onclick="editresource(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/resourcedelete/' + ${src.id}" th:value="${src.name}" onclick="deleteresource(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="resource/resourcelist.js"></script>
</html>