.panel-group .panel {
	border-radius: 0;
    box-shadow: none;
    border-color: #696969;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #696969;
	background-color: #DCDCDC;
	border-color: #696969;
}

.panel-title {
	font-size: 14px;
}

.panel-title > a {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.more-less {
	float: right;
	color: #696969;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
