@charset "ISO-8859-1";
html {
	overflow-y: scroll;
}
#btnadd {
	text-align: center;
}
.input-group.md-form.form-sm.form-2 input {
	border: 1px solid #bdbdbd;
	margin-bottom:4px;
	margin-top:4px;
}
.dataTables_filter {
	display: none;
}
.dataTables_length {
	display: none;
}
#tbresource_previous {
	background-color:white; border-color: navy; color: navy; border-radius: 30px;
}
#tbresource_next {
	background-color:white; border-color: navy; color: navy; border-radius: 30px;
}
/* .dataTables_paginate { */
/* 	display: none; */
/* } */
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}
/* .dataTables_info { */
/* 	display: none; */
/* } */