<!DOCTYPE html>
<html>
<div class="container">
	<div class="form-horizontal">
	 <div class="form-group">
		 
		<input th:object="${pelamarbyid}" type="hidden" id="ids" name="ids" th:field="*{id}">
		<div class="col-md-2 sidebar col-sm-1 control-label" >
			<ul class="list-group lg1">
				<li><a href="/" class="list-group-item dp" style="text-align: left;">Berandal</a></li>				
				
				<li><button class="list-group-item dp" th:href="'/catatanlist/' + ${pelamarbyid.id}" style="text-align: left; border-color: navy;">Catatan</button></li>
				<li><button class="list-group-item dp" th:href="'/keahlianlist/' + ${pelamarbyid.id}" style="text-align: left; border-color: navy;">Keahlian</button></li>
				<li><button class="list-group-item dp" th:href="'/pengalamankerjalist/' + ${pelamarbyid.id}" style="text-align: left; border-color: navy;">Pengalaman Kerja</button></li>
			</ul>
		 </div>
		<div id="pelamardetailisi"></div>
<!-- 		<div th:each="sp :${semuapelamar}" ><button th:href="'/sumberlokeredit/' + ${sp.id}" onclick="editsumberloker(this)">LALALALALALAL</button></div> -->
		</div>
	</div>
</div>
<script src="pelamar/pelamardetail.js"></script>
</html>