<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Pelamar</title>
</head>
<body>
	<table class="table table-striped" >
		
		<tbody>		
			<tr th:each="sp :${semuapelamar}">			
				<td style="color:gray;">
                 	<label th:text="${sp.fullName}" style="color: navy; font-size: 20px"></label><br>
                 	<label>Nama Panggilan</label><br>
                 	<label>Email</label><br>
                 	<label>No. Handphone</label><br>
                 	<label>Pendidikan</label>
             	</td>
             
				<td style="color: navy;">
					<label></label><br>
					<label th:text="${sp.nickName}"></label><br>
					<label th:text="${sp.email}"></label><br>
					<label th:text="${sp.phoneNumber1}"></label><br>
					<label th:text="${sp.schoolName}"></label><br>
				</td>
				
			<td>
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
						style="text-align: left; background: none; border: none; width: 100%;">
					<span style="color: navy;" class="glyphicon glyphicon-search"></span>
				</button>
			</td>
			<td>
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
						style="text-align: left; background: none; border: none; width: 100%;">
					<span style="color: navy;" class="glyphicon glyphicon-envelope"></span>
				</button>
			</td>

			</tr>
		</tbody>
	</table>

</body>
<script src="pelamar/pelamarlist.js"></script>
</html>