<!DOCTYPE html>
<html>
<style>
table{
	margin: 0 auto;
}
</style>

<table  id="tbl" style="width: 93%;" class="table table-striped">

	<thead>
			<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 1px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
			
				<th style="width:100px">STATUS</th>
				<th style="width:100px">TANGGAL</th>
				<th style="width:100px">CLIENT</th>
				
			</tr>
	</thead>
	<tbody>
			<tr style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);" th:each="ts :${semuatimesheet}" id="ada">
			
				<td th:text="${ts.status}"></td>
				<td th:text="${#dates.format(ts.timesheetDate, 'MMMM dd, yyyy')}"></td>
				<td th:text="${ts.name}"></td>
			</tr>
			<!-- <tr>
				<td></td>
				<td style="padding-left:100px"><font style="font-size: 15px;" id="kosong"><b>Data Tidak Ada</b></font></td>
				<td></td>
			</tr> -->
	</tbody>
</table>
<style>
#kosong{
	display:none;
}
</style>
<script src="timesheet/timesheet.js"></script>
</html>