<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="pelamar/pelamar.css"> -->
<style>
.center {
  position: absolute;
  left: 38%;
  top: 25%;
  transform: translate(-50%, -50%);
}

#reset{
	display: none;
}

#kirim{
	display: none;
}
</style>
<body>


<div id="timesheet"></div>
<!-- <input type="text" th:value="${tanda}" id="tanda"> -->

<!-- ========================== The Modal =========================== -->
<div class="modal-content" style="width:900px">
<!-- Modal Header -->
	<div class="modal-header" style="background-color:navy; color:white;" id="mdhead">
		<h4 class="modal-title">Timesheet Submission</h4>
	</div>
	<!-- Modal body -->
		<div class="modal-body" id="mdbody">
			<div class="form-group col-sm-12">
				<div class="col-sm-6">
					<label class="control-label" style="color:navy">Tahun*</label>
						<select id="year" class="form-control" name = "year">
							<option value="" selected="selected">- Pilih Tahun -</option>
							<option th:each="thk :${tahun}" th:text="${thk}"></option>
						</select>
				</div>
				<div class="col-sm-6">
					<label class="control-label" style="color:navy">Bulan*</label>
						<select id="month" class="form-control" name = "month">
							<option value="" selected="selected">- Pilih Bulan -</option>
							<option value="1" >Januari</option>
							<option value="2" >Februari</option>
							<option value="3" >Maret</option>
							<option value="4" >April</option>
							<option value="5" >Mei</option>
							<option value="6" >Juni</option>
							<option value="7" >Juli</option>
							<option value="8" >Agustus</option>
							<option value="9" >September</option>
							<option value="10">Oktober</option>
							<option value="11">November</option>
							<option value="12">Desember</option>
						</select>
				</div> 
			</div>

			<div id="timesheetlist"></div>

			<div id="cek" class="btn-group" role="group" aria-label="Basic example" style="margin-top: 15px; margin-left: 80%;">
				<button id="reset" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Reset</button>
				<button onclick="tsform()" id="kirim" type="submit" class="btn btn-secondary" style="background-color:navy; color:white;">Submit</button>
				<button disabled="disabled" id="reset2" class="btn btn-secondary" style="background-color:#848484; color:white;">Reset</button>
				<button disabled="disabled" onclick="tsform()" id="kirim2" type="submit" class="btn btn-secondary" style="background-color:#848484; color:white;">Submit</button>
			</div>
	</div>
</div>
			
<!-- ============================================== Modal Kirim Email ===================================================== -->			
  <!-- The Modal -->
  <div class="modal fade" id="ccmodal">
    <div class="modal-dialog center" style="width:500px">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color:navy; color:white">
          <h4 class="modal-title">Tambah Email Penerima
          <button type="button" class="close" style="background-color:navy; color:white;" data-dismiss="modal">&times;</button>
          </h4>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" id="cclist">

        </div>
        
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  
</body>
<script src="timesheet/timesheet.js"></script>
<script src="timesheet/kirimtimesheet.js"></script>
</html>