<!DOCTYPE html>
<html>
<link href="pengalamankerja/pengalamankerja.css" rel="stylesheet">
<div class="row">



	<form action="#" id="datanewpengalamankerja" method="post"class="form-horizontal" >
	<input type="hidden" id="biodataId" name="biodataId" th:value="${ids}">
		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label" id="company">Nama Perusahaan / Instansi*</label> 
				<input type="text" name="companyName" id="companyName" class="form-control" onkeyup="cek1(), mxlength1()"/>
				<span class="error_form" id="company_name_error"></span>
			</div>
			<div  class="col-sm-3">
				<label class="control-label">Kota</label> 
				<input type="text" name="city" class="form-control" />
			</div>
			<div  class="col-sm-3">
				<label class="control-label">Negara</label> 
				<input type="text" name="country" class="form-control" />
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label" id="masuk">Waktu Masuk*</label>
			</div>
			<div class="col-sm-6">
				<label class="control-label" id="keluar">Waktu Keluar</label>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan" id="joinMonth" name="joinMonth" onchange="cek2(), bukadisable()">
				<option value="">-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
			<span class="error_form" id="join_month_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun" id="joinYear" name="joinYear" onchange="cek3(), bukadisable()">
					<option value="">-Pilih Tahun-</option>
					<option th:each="th :${tahun}" th:text="${th}"></option>
				</select>
				<span class="error_form" id="join_year_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan" id="resignMonth" name="resignMonth" disabled="disabled">
				<option value="">-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
			<span class="error_form" id="resign_month_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun" name="resignYear" id="resignYear"  disabled="disabled">
					<option value="">-Pilih Tahun-</option>
					<option th:each="th :${tahun}" th:text="${th}"></option>
				</select>
				<span class="error_form" id="resign_year_error"></span>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label" id="last" >Posisi Terakhir*</label> 
				<input type="text" id="lastPosition" name="lastPosition" class="form-control" onkeyup="cek4(), mxlength2()"/>
				<span class="error_form" id="last_position_error"></span>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Penghasilan Terakhir (IDR)</label> 
				<input type="text" name="income" class="form-control" />
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="form-check col-sm-3">
				<input class="form-check-input" type="checkbox" id="isItRelated" name="isItRelated">	
  				<label class="form-check-label" for="isItRelated">IT Related ?</label>
  				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" id="job">Keterangan Singkat Mengenai Pekerjaan</label>
				<textarea class="form-control" id="aboutJob" name="aboutJob" onkeyup="mxlength3()"/></textarea>
				<span class="error_form" id="abtjob"></span>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" id="ext">Alasan Keluar</label>
				<textarea class="form-control" id="exitReason" name="exitReason" onkeyup="mxlength4()" /></textarea>
				<span class="error_form" id="xtreason"></span>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" id="ctt">Catatan</label>
				<textarea class="form-control" id="notes" name="notes" onkeyup="mxlength5()" /></textarea>
				<span class="error_form" id="nts"></span>
			</div>
		</div>
		<!-- <div class="form-group col-sm-12"> -->
			<div style="text-align:right; margin-right:45px">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group" aria-label="Basic example">
					<button onclick="tutupmodal2()" type="button" class="btn btn-secondary" style="background-color: #fd7e14; color: white;">Batal</button>
					<button type="button" class="btn btn-secondary" id="btn_simpan" onclick="btsave()" style="background-color: navy; color: white;">Simpan</button>
				</div>
			</div>
		<!-- </div> -->
	</form>
</div>
<script src="pengalamankerja/pengalamankerjaadd.js"></script>
</html>