<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${pengalamankerjabyid}">

<table style="width: 70%; margin-left:30px" class="table table-striped">
	<thead>
		<tr>
			<td style="font-size: large; color: navy;"><b>Pengalaman Kerja</b> 
			<input type="image" alt="tambah" src="images/tambah.png" style="width:20px;height:20px;" onclick="addform()"></td>
		</tr>
		<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
			<td style="width:450px"><font color="navy"><b>DETAIL PEKERJAAN</b></font></td>
			<td style="width:200px"><font color="navy"><b>CATATAN</b></font></td>
			<td><font color="navy"><b>#</b></font></td>
		</tr>
		<tr style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);" th:each="sk :${semuapengalamankerja}">
			<td th:text="${sk.companyName} + ' (' + ${sk.joinYear} + '-' + ${sk.joinMonth} + ' s/d ' + ${sk.resignYear} + '-' + ${sk.resignMonth} + ')'" ></td>
			<td th:text="${sk.notes}"></td>
			<td>
				<div class="dropdown">
  						<button style="background-color:navy" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				 			<b style="color:white;">More</b>
  						</button>
  						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color:navy;">
    						<button class="btn btn-link" th:href="'/pengalamankerjaedit/' + ${sk.id}" onclick="editpengalamankerja(this)">Ubah</button>
    						<br>
    						<button class="btn btn-link" th:href="'/pengalamankerjadelete/' + ${sk.id}" onclick="deletepengalamankerja(this)">Hapus</button>
    						<br>
    						<button class="btn btn-link" th:href="'/pengalamankerjadelete/' + ${sk.id}" onclick="tambahproject(this)">Tambah Project</button>
  						</div>
				</div>
			</td>
		</tr>
	</thead>
</table>

<!-- ============================= Modal add ==================================== -->
<!-- The Modal -->
		<div class="modal" id="pengalamankerjaModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 12.5%">
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
							<b style="font-size: large; " class="modal-title" id="judulpengadd"></b>
							<!-- <h4 class="modal-title">Tambah Pelatihan -->
							<button type="button" class="close" onclick="tutupmodal()">&times;</button>
							<!-- </h4> -->
						</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonpengalamankerjalist" ></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		
<!-- ============================= Modal edit ==================================== -->
<!-- The Modal -->
		<div class="modal" id="pengalamankerjaeditModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 12.5%">
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
							<b style="font-size: large; " class="modal-title" id="judulpengedit"></b>
							<!-- <h4 class="modal-title">Tambah Pelatihan -->
							<button type="button" class="close" onclick="tutupmodal()">&times;</button>
							<!-- </h4> -->
						</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonpengalamankerjaeditlist" ></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	
	<!-- ============================= Modal del ==================================== -->
	
	<!-- The Modal -->
	<div class="modal" id="delpengalamankerjaModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header" style="background-color:#A52A2A; color:white;">
					<b style="font-size: large;" class="modal-title" id="judul2"></b>
					<!-- <h4 class="modal-title">Hapus ? -->
					<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					<!-- </h4> -->
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="delpengalamankerjalist"></div>
				</div>
			</div>
		</div>
	</div>	

</body>
<script src="pengalamankerja/pengalamankerjalist.js"></script>
</html>