<html>
<link href="dokumen/dokumen.css" rel="stylesheet">
<table style="border-bottom-style: solid; border-bottom-color: navy; width: 100%;">
	<tr>
		<td align="left" width="10%"><b style="font-size: large; color: navy">Dokumen</b></td>
		<td align="left" width="90%"><input type="image" src="images/add_circle.png" onclick="addform()" style="width: 25px; height: 25px"/></td>
	</tr>
</table>
<br>
	<div id="dokumenlist">
	</div>
	<!-- The Modal -->
		<div class="modal" id="dokumenModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 12.5%">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<b class="modal-title" id="judul" style="font-size: 18px; font-weight: normal;">Dokumen</b>
						<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nondokumenlist"></div>
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>
		
	<!-- The Modal -->
	<div class="modal" id="deldokumenModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header" style="background-color:red; color:white;">
					<b class="modal-title" style="font-size: 18px; font-weight: normal;">Hapus ?</b>
					<button type="button" class="close" onclick="tutupmodal()">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="deldokumenlist"></div>
				</div>
			</div>
		</div>
	</div>
	
	<table id="tbdokumen" class="table table-striped">
	<input type="hidden" id="idbiodata" name="idbiodata" th:value="${dokumenbyid}">
		<thead>
			<tr style="border-bottom: 4px solid navy; color: navy">
				<th>NAMA FILE</th>
				<th>KETERANGAN</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sd :${semuadokumen}">
				<td style="border-top: thin solid navy;" th:text="${sd.fileName}"></td>
				<td style="border-top: thin solid navy;" th:text="${sd.notes}"></td>
				<td style="border-top: thin solid navy;">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/dokumenedit/' + ${sd.id}" onclick="editdokumen(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/dokumendelete/' + ${sd.id}" onclick="deletedokumen(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="dokumen/dokumenlist.js"></script>
</html>