<html>
	<table id="tbrole" class="table table-striped">
		<thead>
			<tr style="border-top: thin solid navy; border-bottom: 4px solid navy; color: navy">
				<th>KODE ROLE</th>
				<th>NAMA ROLE</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody id="roletb">
			<tr th:each="sr :${semuarole}">
				<td style="border-top: thin solid navy;" th:text="${sr.code}"></td>
				<td style="border-top: thin solid navy;" th:text="${sr.name}"></td>
				<td style="border-top: thin solid navy;">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/roleedit/' + ${sr.id}" onclick="editrole(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/roledelete/' + ${sr.id}" onclick="deleterole(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="role/rolelist.js"></script>
</html>