<!DOCTYPE html>
<html>
<style>
.no-border{
  border:none;
}
</style>
<div class="row">
	<form action="#" id="datanewkeahlian" method="post" class="form-horizontal">
		<input type="hidden" id="biodataId" name="biodataId" th:value="${ids}">
		<div class="form-group col-sm-12">
			<div class="col-sm-6" >
				<label class="control-label" style="color: navy;"> Nama Keahlian</label> 
				<input name="skillName" class="form-control" style="border-color: navy; color: navy;" > 
			</div>
		
		
		
			<div class="col-sm-6">
				<label id="label" class="control-label" style="color: navy;">Level Keahlian *</label>
				<select	id="skillLevelId" name="skillLevelId" onchange="cek1()" class="selectpicker form-control " style=" border-color: navy; color: navy;" >
					<option value="">- Pilih -</option>
					<option th:each="s :${listskill}" th:text="${s.name}"
						th:value="${s.Id}"></option>
				</select> 
				<span class="error_form" id="eror"></span>
			</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" style="color: navy;"> Catatan </label>
				<input name="notes"	style="  width: 100%; height: 100px; padding: 5px 10px; border-color: navy; color: navy;" class="form-control">
				
				
			</div>
		</div>
		
		<div class="form-group col-sm-12">
		<div class="modal-footer no-border">
				<div class="btn-group " role="group" aria-label="Basic example"  >
				<button type="button" onclick="tutupmodal()" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Batal</button>
				<button type="submit" id="btn_simpan" onfocus="cek1()" class="btn btn-secondary" style="background-color:navy; color:white;">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="keahlian/keahlianadd.js"></script>
</html>