<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${keahlianbyid}">
	<table class="table table-striped" style="width: 83%">
		<thead>
		
		<tr>
			<td style="font-size: large;">
				<b style="color:navy;">KEAHLIAN</b> 
				<button class="glyphicon glyphicon-plus-sign"  style="background:none; border:none; color: navy; font-size: large;" onclick="addform()"></button>
			</td>
		</tr>
		
			<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px;">

				<th width="500px" style="color: navy">NAMA KEAHLIAN</th>
				<th width="500px" style="color: navy">LEVEL KEAHLIAN</th>
				<th>#</th>

			</tr>
		</thead>
		<tbody>
			<tr  style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);"
			th:each="sk :${semuakeahlian}">
				<td width="400px" th:text="${sk.skillName}"></td>
				<td th:text="${sk.name}"></td>
				<td>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/keahlianedit/' + ${sk.Id}" onclick="editkeahlian(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/keahliandelete/' + ${sk.Id}" onclick="deletekeahlian(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>

<!-- The Modal -->
		<div class="modal" id="kmodal">
			<div class="modal-dialog modal-lg" style="position: fixed; left: 15%;">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: navy">
						<b style="font-size: large; " class="modal-title" id="judul"></b>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonkeahlianlist"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- The Modal -->
		<div class="modal" id="delkmodal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: red">
						<b style="font-size: large;" class="modal-title" id="judul2"></b>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="delkeahlianlist"></div>
					</div>
				</div>
			</div>
		</div>

</body>
<script src="keahlian/keahlianlist.js"></script>
</html>