<!DOCTYPE html>
<html>
<style>
.no-border{
  border:none;
}
</style>
<div class="row">
	<form action="#" id="dataeditkeahlian" method="post"
		 th:object="${ahlibyid}">
		<input type="hidden" name="id" th:field=*{id} >
		<input name="biodataId"  type="hidden" th:field=*{biodataId} >
		
		<div class="form-group col-sm-12">
			<div class="col-sm-6" >
				<label class="control-label" style="color: navy;"> Nama Keahlian</label> 
				<input name="skillName" th:field=*{skillName} class="form-control"  style="border-color: navy; color: navy;"> 
			</div>
		
			<div class="col-sm-6" >
				<label id="label" class="control-label" style="color: navy;">Level Keahlian *</label>
				<select	id="skillLevelId" onchange="cek1()" th:field=*{skillLevelId}  class="selectpicker form-control " style=" border-color: navy; color: navy;">
					<option value="">- Pilih -</option>
					<option th:each="s :${listskill}" th:text="${s.name}"
						th:value="${s.Id}"></option>
				</select> 
				<span class="error_form" id="eror"></span>
			</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" style="color: navy;"> Catatan </label>
				<input name="notes" th:field=*{notes}
					style=" border-radius: 4px; width: 100%; height: 100px; padding: 5px 10px; border-color: navy; color: navy;"
					class="form-control">
				
			</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="modal-footer no-border">
				<div class="btn-group " role="group" aria-label="Basic example"  >
				<button type="button" onclick="tutupmodal()" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Batal</button>
				<button id="btn_simpan" onfocus="cek1()" type="submit" class="btn btn-secondary" style="background-color:navy; color:white;">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="keahlian/keahlianedit.js"></script>
</html>