<html>
	<table id="tbclient" class="table table-striped">
		<thead>
			<tr style="border-top: thin solid navy; border-bottom: 4px solid navy; color: navy">
				<th>CLIENT</th>
				<th>START</th>
				<th>END</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody id="clienttb">
			<tr th:each="sc :${semuaclient}">
				<td style="border-top: thin solid navy;" th:text="${sc.name}"></td>
				<td style="border-top: thin solid navy;"></td>
				<td style="border-top: thin solid navy;"></td>
				<td style="border-top: thin solid navy;">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/clientedit/' + ${sk.id}" onclick="editclient(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/clientdelete/' + ${sk.id}" onclick="deleteclient(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="client/clientlist.js"></script>
</html>