<!DOCTYPE html>
<html>
<body>
	<table>
		<tbody>
		<tr th:each="sp :${semuaadb}">
			<td >
			<input th:value="${sp.id}" type="hidden" id="id">
				<label>Username  </label><br>
				<label>Password  </label><br>
			</td>
			<td>
				<input style="width: 5px;border: none;background-color: white;" disabled="disabled"><br>
				<input style="width: 5px;border: none;background-color: white;" disabled="disabled"><br>
			</td>
			<td>
				<label> : </label><br>
				<label> : </label><br>
			</td>
<td>
				<input style="width: 5px;border: none;background-color: white;" disabled="disabled"><br>
				<input style="width: 5px;border: none;background-color: white;" disabled="disabled"><br>
			</td>
			<td>
				<label th:text="${sp.abuid}+' - '"></label> <label id="isdelete" th:text="${sp.isDelete}==false?'Aktif':'Tidak Aktif'"></label><br>
				<label th:text="${sp.abpwd}"></label><br>
			</td>
			</tr>
		</tbody>

	</table>
</body>
</html>