<!DOCTYPE html>
<html>
<body>
	<form id="datanewonlinetestdetail" method="post" class="form-horizontal">

	<div class="container" th:object="${semuatestdetail}">
<!-- 	<input type="text" id="onlineTestId" name="onlineTestId" th:value="${onlinetestid}"> -->
	<input type="hidden" id="ids" name="ids" th:value="${id}">
	</div>
	<p>
	<div class="col-sm-offset-10">
<!-- 		<b style="font-size: large;"></b> <input type="text" -->
<!-- 			disabled="disabled" -->
<!-- 			style="width: 30%; border: none; margin-top: 15px; background-color: white"> -->
		<button class="btn btn-primary" onclick="tambahtest()" type="button">Tambah Tes</button>
	</div>
	</p>
	
	<table class="table">
		<thead>


			<tr
				style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
				<td>No</td>
				<td style="text-align: center">Jenis Tes</td>
				<td style="text-align: center; width: 30%">#</td>
			</tr>
			<tr th:each="sd :${semuatestdetail2}" style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
				<td th:text="${sd.testOrder}"></td>
				<td th:text="${sd.name}" id="name" style="text-align: center"></td>
				<td style="text-align: center"><div class="dropdown">
						<button style="background-color: navy"
							class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<b style="color: white;">More</b> <span class="caret"
								style="color: white;"></span>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
							style="color: navy;">
							<button class="btn btn-link"
								style="text-align: left; background: none; border: none; width: 100%;">Tampilkan
								Pilihan Tes</button>
							<br>
							 <button class="btn btn-link" type="button" th:href="'/testdetaildelete/' + ${sd.id}" onclick="deletetestdetail(this)" style="text-align:left; background:none; border:none; width:100%;">Delete</button>

						</div>
					</div></td>
			</tr>
		</thead>
	</table>
	
	<div class="form-group col-sm-13">

			<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
					<button  onclick="tutupmodal()" type="button" class="btn btn-secondary"
						style="width:110px;background-color: #fd7e14; color: white;">Batal</button>
			</div>
		</div>
</form>
</body>
<script src="onlinetest/onlinetestdetail.js"></script>
</html>