<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Aktivasi Test Online</title>
</head>
<body>
	<input type="hidden" id="idbiodata" name="idbiodata"
		th:value="${semuaonlinetestbyid}">
	<!-- <input type="text" id="ods" name="ods" th:value="${semuaonlinetestlist.idOnlineTest}"> -->

	<table>
	<tr style="border-top-color: navy; border-bottom-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
	<td style="font-size: large; width: 700px"><b> Aktivasi Akun Tes Online </b></td>
	<td style="width: 120px"><button id="aktif" style="margin-bottom: 5px" class="btn btn-primary" onclick="addform()">Aktifkan</button>
	<button id="mati" style="margin-bottom: 5px;" class="btn btn-primary" onclick="delete5()">Non Aktifkan</button></td>
	</tr>
		
	</table>
	<div hidden="hidden" id="addrbook"></div>
	<!-- 			<input type="text" disabled="disabled" style="width: 45%; border: none; background-color: white;" ><button class="btn btn-primary" onclick="addform2()">Aktifkan2</button></p> -->
	<div style="margin-top: 5px" id="onlinetestlist2" hidden="hidden"></div>
	<!-- 			<tr th:each="sp :${semuasertifikasi}" style="border-top:2px solid navy"> -->
	<!-- 				<td th:text="${sp.certificateName}"></td> -->
	<!-- 				<td th:text="${sp.publisher}"></td> -->
	<!-- 				<td th:text="${sp.validStartYear}+'-'+${sp.validStartMonth}+' s.d '+${sp.untilYear}+'-'+${sp.untilMonth}"></td>				 -->
	<!-- 				<td th:text="${sp.id}"></td>				 -->
	<!-- 				<td th:text="${sp.biodataId}"></td>				 -->
	<!-- 				<td><div class="dropdown"> -->
	<!--   					<button style="background-color:navy" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
	<!--    				 	<b style="color:white;">More</b> -->
	<!--    				 	<span class="caret" style="color:white;"></span> -->
	<!--   					</button> -->
	<!--   				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color:navy;"> -->
	<!--     				<button class="btn btn-link" th:href="'/sertifikasiedit/' + ${sp.id}" onclick="editsertifikasi(this)" style="text-align:left; background:none; border:none; width:100%;">Edit</button> -->
	<!--     				<br> -->
	<!--     				<button class="btn btn-link" th:href="'/sertifikasidelete/' + ${sp.id}" onclick="deletesertifikasi(this)" style="text-align:left; background:none; border:none; width:100%;">Delete</button> -->
	<!--   				</div> -->
	<!-- 				</div></td> -->
	<!-- 			</tr> -->


	<!-- The Modal -->
	<div class="modal" id="onlinetestModal">
		<div class="modal-dialog" style="position: fixed; left: 12.5%">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header"
					style="background-color: navy; color: white;">
					<h4 class="modal-title">
						Aktivasi Akun Test Online
						<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" style="height: 100%" id="nononlinetestlist"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<!-- ................................................................. -->
	<!-- The Modal -->
	<div class="modal" id="delonlinetestModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content" style="position: fixed; left: 22.5%">
				<!-- Modal Header -->
				<div class="modal-header"
					style="background-color: red; color: white;">
					<h4 class="modal-title">
						Hapus ?
						<button type="button" class="close" onclick="tutupmodal2()">&times;</button>
					</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="delonlinetestlist"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- -------------------------------------------------------	 -->
	<!-- The Modal -->
	<div class="modal" id="tambahonlinetestModal">
		<div class="modal-dialog"
			style="position: fixed; left: 42.5%; top: 40%">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header"
					style="background-color: navy; color: white;">
					<h4 class="modal-title">
						Tambah Tes
						<button type="button" class="close" onclick="tutupmodal2()">&times;</button>
					</h4>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" style="height: 100%" id="tamonlinetestlist"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>


</body>
<script src="onlinetest/onlinetestlist.js"></script>
</html>