<!DOCTYPE html>
<html>
<link href="../onlinetest/glyph.css" rel="stylesheet">
<body>
	<form id="datanewonlinetestdetail" method="post"
		class="form-horizontal">

		<div class="container">
			<input type="hidden" id="biodataId" name="biodataId"
				th:value="${biodataId}">
			<!-- 			<input type="text" id="ids" name="ids" th:value="${id}"> -->

			<div class="form-group col-sm-12">
				<div class="col-sm-3">
					<label class="control-label" style="font-size: small;">Tgl.
						Tes*</label> <input autocomplete="off" name="testDate" class="input-group date form-control"
						id="datepicker" style="width: 200px" onchange="cek1()"> <span
						class="error_form" id="td"></span>

				</div>
				<div class="col-sm-3">
					<label class="control-label" style="font-size: small;">Tgl.
						Berakhir Tes*</label> <input autocomplete="off"  name="expiredTest"
						class="input-group date form-control" id="datepicker2"
						style="width: 200px" onchange="cek2()"> <span
						class="error_form" id="et"></span>

				</div>
				<!-- 		<div class="input-group date col-sm-2"> -->
				<!--   <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span> -->
				<!-- </div> -->
				<div class="col-sm-3">
					<label class="control-label" style="font-size: small;">Akses
						User*</label> <select style="width: 200px" name="userAccess"
						class="selectpicker form-control" id="userAccess" onchange="cek3()">
						<option value="">-Pilih-</option>
						<option value="inside">INSIDE</option>
						<option value="outside">OUTSIDE</option>
					</select> <span class="error_form" id="ua"></span>
				</div>
			</div>
		</div>
		<p>
		<div class="col-sm-offset-10">
			<!-- 		<b style="font-size: large;"></b> <input type="text" -->
			<!-- 			disabled="disabled" -->
			<!-- 			style="width: 30%; border: none; margin-top: 15px; background-color: white"> -->
			<button class="btn btn-primary" onclick="tambahtest()" type="button">Tambah
				Tes</button>
<!-- 			<button class="btn btn-primary" onclick="cek4()" type="button">Tambah -->
<!-- 				Tes123</button> -->
<!-- 			<button id="del">arr</button> -->
		</div>
		</p>

		<table class="table" id="tbdettest">
			<thead>
				<tr
					style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
					<td>No</td>
					<td style="text-align: center">Jenis Tes</td>
					<td style="text-align: center; width: 30%">#</td>
					<td class='tdId' style="text-align: center; width: 30%">id</td>
				</tr>
			</thead>
			<!-- <tr th:each="sd :${semuatestdetail}" style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
				<td th:text="${sd.testOrder}"></td>
				<td th:text="${sd.name}" id="name" style="text-align: center"></td>
				<td style="text-align: center">
				<input type="image" alt="del" th:href="'/testdetaildelete/' + ${sd.id}" th:value="${sd.name}" onclick="deletetestdetail(this)" style="width:30px;height:30px;" src="images/waste-bin.png">
				<button type="button" th:href="'/testdetaildelete/' + ${sd.id}" th:value="${sd.name}" onclick="deletetestdetail(this)" style="width:30px;height:30px; border: white; background-color: white"><img alt="del" src="images/waste-bin.png" style="width:25px;height: 25px"></button>

				</td>
			</tr> -->
			<tbody id="tesdetail">

			</tbody>
		</table>

		<div class="form-group col-sm-13">

			<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group">
					<button onclick="tutupmodal()" type="button"
						class="btn btn-secondary"
						style="background-color: #fd7e14; color: white;">Batal</button>
					<button id="btn1" onclick="btn()" type="button" class="btn btn-secondary"
						style="background-color: navy; color: white;">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</body>
<script src="onlinetest/onlinetestdetail.js"></script>
</html>