<!DOCTYPE html>
<html>
<body>
	<table style="width: 70%;" class="table">
		<thead>
			<tr
				style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid; text-align: center">
				<td>Kode Periode</td>
				<td>Periode</td>
				<td>Tgl. Tes</td>
				<td>Tgl. Berakhir Tes</td>
				<td>Akses</td>
				<td>Status</td>
				<td style="text-align: center">#</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sp :${semuaonlinetest}"
				style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid; text-align: center">
				<td id="cek12" th:text="${sp.periodCode}"></td>
				<td th:text="${sp.period}"></td>
				<td th:text="${#dates.format(sp.testDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(sp.expiredTest, 'yyyy-MM-dd')}"></td>
				<td th:text="${sp.userAccess}"></td>
				<td th:text="${sp.status}"></td>
				<td><div class="dropdown">
						<button style="background-color: navy"
							class="btn btn-secondary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<b style="color: white;">More</b> <span class="caret"
								style="color: white;"></span>
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
							style="color: navy;">
							<button class="btn btn-link" th:href="'/onlinetestdetail2/' + ${sp.id}" onclick="addform2(this)" type="button"
								style="text-align: left; background: none; border: none; width: 100%;">Tampilkan
								Pilihan Tes</button>
							<br>
							<button class="btn btn-link" th:href="'/onlinetestdelete/' + ${sp.id}" th:value="${sp.periodCode}" onclick="delete2(this)" type="button"
								style="text-align: left; background: none; border: none; width: 100%;">Delete</button>
						</div>
					</div></td>
			</tr>
		</tbody>
	</table>
</body>
<script src="onlinetest/onlinetestlist2.js"></script>
</html>