<!DOCTYPE html>
<html>

<body>
<div class="Container">
	<form id="datanewtambahtes" method="post" class="form-horizontal">
	<input type="hidden" name=isDelete value="false">
<div class="col-sm-6">
<select  id="testTypeId" name="testTypeId" style="width: 215px"  class="selectpicker form-control">
					<option th:each="p :${semuatesttype}" th:text="${p.name}"
						th:value="${p.id}"></option>
</select>
</div>
<div class="col-sm-offset-5">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group" style="margin-top: 5px">
					<button onclick="tutupmodal2()" type="button" class="btn btn-secondary"
						style="background-color: #fd7e14; color: white;">Batal</button>
					<button id="ttt" type="button" class="btn btn-secondary"
						style="background-color: navy; color: white;">Simpan</button>
				</div>
			</div>
</form>
</div>
</body>
<script src="../onlinetest/tambahtest.js"></script>
</html>