<!DOCTYPE html>
<html>
<input type="hidden" th:object="${pelamarById}" id="id" name="id" th:field="*{id}">
<div class="container">
	<div class="form-horizontal">
	 <div class="form-group">
		<div class="col-md-2 sidebar col-sm-1 control-label">
			<ul class="list-group lg1">
		<li><a href="#" class="list-group-item dp">Profil</a></li>
		<li><a href="#" class="list-group-item dp">Biodata</a></li>
		  <li><a href="#" class="list-group-item dp">Pengalaman Kerja</a></li>
		<li><a href="#" class="list-group-item dp">Pendidikan</a></li>
		<li><a href="#" class="list-group-item dp">Pelatihan</a></li>
		<li><a href="#" class="list-group-item dp">Sertifikasi</a></li>
		<li><a href="#" class="list-group-item dp">Sumber Lowongan Kerja</a></li>
		<li><a th:href="'/organisasiList/'+${pelamarById.id}" class="list-group-item dp">Organisasi</a></li>
		 <li><a href="#" class="list-group-item dp">Keluarga</a></li> 
		<li><a href="#" class="list-group-item dp">Keahlian</a></li>
		<!--  <li><a href="#" class="list-group-item dp">Lain - Lain</a></li>
		<li><a href="#" class="list-group-item dp">Dokumen</a></li>
		<li><a href="#" class="list-group-item dp">Catatan</a></li>
		<li><a href="#" class="list-group-item dp">Aktivasi Akun</a></li>
		<li><a href="#" class="list-group-item dp">Lihat Tes</a></li>
		<li><a href="#" class="list-group-item dp">Hasil Tes</a></li> -->
			</ul>
		 </div>
		<div id="pelamardetailisi"></div>
		</div>
	</div>
</div>
<script src="pelamar/pelamardetail.js"></script>
</html>