<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Pelamar</title>
</head>

<body>
	<table class="table table-striped" id="tabel_pelamar" name="tabel_pelamar">
		<thead>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="sp :${semuaPelamar}">
				<td style="color:gray;">
					<label style="color: navy; font-size: 18px" th:text="${sp.fullName}"></label><br>
					<label>Nama Panggilan</label><br>
					<label>Email</label><br>
					<label>No. Handphone</label><br>
					<label>Pendidikan</label><br>
				</td>
				<td style="color: navy;">
					<label style="color: transparent; font-size: 18px">1</label><br>
					<label th:text="${sp.nickName}"></label><br>
					<label th:text="${sp.email}"></label><br>
					<label th:text="${sp.phoneNumber1}"></label><br>
					<label th:text="${sp.schoolName}"></label><br>
				</td>
				<td>
					<div class="btn-group">
						<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
						style="text-align: left; background: none; border: none; width: 100%;">
						<span style="color: navy;" class="glyphicon glyphicon-search"></span>
						</button>
						<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
						style="text-align: left; background: none; border: none; width: 100%;">
						<span style="color: navy;" class="glyphicon glyphicon-envelope"></span>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
 			<div id="pager" style="text-align: right; "> 
 				<ul id="pagination" class="pagination-sm"> </ul> 
 				<nav aria-label="..."> 
 				<ul class="pagination"> 
 					<li class="page-item prev" id="mundur"> 
 						<a class="page-link" href="#"> Previous </a></li> 
 					<li class="page-item" id="maju"> 
 						<a class="page-link" href="#"> Next </a> </li> 
 					</ul>
 				</nav>
 			</div> 
 		</body> 
		
	<script src="pelamar/pelamarlist.js"></script>
</html>
