<!DOCTYPE html>
<html>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Description</td>
				<td>#</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sk :${semuatimeperiod}">
				<td th:text="${sk.name}"></td>
				<td th:text="${sk.description}"></td>
				<td>
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">More
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  		<li><a><button style="background:none; border:none;" th:href="'/timeperiodedit/' + ${sk.id}" onclick="edittimeperiod(this)">Ubah</button></a></li>
	    					<li><a><button style="background:none; border:none;" th:href="'/timeperioddelete/' + ${sk.id}" onclick="deletetimeperiod(this)">Hapus</button></a></li>
					  </ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
<script src="timeperiod/timeperiodlist.js"></script>
</html>