<!DOCTYPE html>
<html>
<div class="container">
	<form action="#" id="dataNewOrganisasi" class="form-horizontal">
		<input type="hidden" id="biodataId" name="biodataId" th:value="${id}">
		<div class="form-group col-sm-9">
			<div class="col-sm-5">
				<label class="control-label" id="organisasi"> Nama Organisasi* </label>
				<input type="text" id="name" name="name" class="form-control" onkeyup="cekOrganisasi()">
				<span class="error_form" id="organization_error"></span>
			</div>
			
			<div class="col-sm-5">
				<label class="control-label" id="jabatan"> Jabatan*</label>
				<input type="text" id="position" name="position" class="form-control" onkeyup="cekJabatan()">
				<span class="error_form" id="position_error"> </span>
			</div>
		</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-5">
				<label class="control-label" id="masuk"> Tahun Masuk* </label>
				<select name="entryYear"  id="entryYear" class="selectpicker form-control" onchange="cekTahunMasuk()">
					<option value="" selected="selected"> Pilih Tahun Masuk </option>
					<option th:each="th :${tahunMasuk}" th:text="${th}" th:selected="${th==thnMasuk}"> </option>
				</select>
				<span class="error_form" id="entry_year_error"></span>
			</div>
			
			<div class="col-sm-5">
				<label class="control-label" id="keluar"> Tahun Keluar*</label>
				<select name="exitYear" id="exitYear" class="selectpicker form-control" onchange="cekTahunKeluar()">
					<option value="" selected="selected"> Pilih Tahun Keluar </option> 
					<option th:each="th: ${tahunKeluar}" th:text="${th}" th:selected="${th==thnKeluar}"> </option>
				</select>
				<span class="error_form" id="exit_year_error"> </span>
			</div>
		</div>
			
			<div class="form-group col-sm-9">
				<div class="col-sm-10">
					<label class="control-label"> Tanggung Jawab </label>
					<input type="text" name="responsbility" class="form-control"> 
				</div>
			</div>
			
			<div class="form-group col-sm-9">
				<div class="col-sm-10">
					<label class="control-label"> Catatan </label>
					<input type="text" name="notes" class="form-control" style="width: 100%; height: 100px; padding: 5px 10px;">
				</div>
			</div> 
			
			<div class="form-group">
				<div class="col-sm-8" style="text-align: right">
					<div class="btn-group" role="group" aria-label="Basic example">
						<button data-dismiss="modal" class="btn btn-secondary" onclick="tutupModal2()" style="background-color: #FD7E14; color: white;"> Batal </button>
						<button type="submit" class="btn btn-secondary" id="btn_simpan" onclick="cekOrganisasi(); cekJabatan(); cekTahunMasuk(); cekTahunKeluar();" style="background-color: navy; color: white"> Simpan </button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="organisasi/organisasiAdd.js"></script>
</html>
