<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
<input type="hidden" id="biodataId" name="biodataId" th:value="${organisasiById}">
	<table class="table table-striped" style="width: 60%">
		<thead>
			<tr>
				<td style="font-size: large; color: navy;"><b>Organisasi</b>
				<input type="image" onclick="addForm()" src="images/tambah.jpeg" alt="tambah" style="width:25px; height:25px;">
				</td>
			</tr>
			<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
				<td> <font color="navy"> <b>Nama</b> </font> </td>
				<td> <font color="navy"> <b>Jabatan</b> </font> </td>
				<td> <font color="navy"> <b>Periode</b> </font> </td>
				<td> <font color="navy"> <b>#</b> </font> </td>
			</tr>
		</thead>
		<tbody>
			<tr style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);" th:each="so :${semuaOrganisasi}">
				<td th:text="${so.name}"></td>
				<td th:text="${so.position}"></td>
				<td th:text="${so.entryYear} + ' s.d ' + ${so.exitYear}"></td>
				<td>
				<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
				<b>More</b>
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" style="text-align:left;">
					<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/organisasiEdit/' + ${so.id}" onclick="editOrganisasi(this)">Ubah</button></a></li>
					<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/organisasiDelete/' + ${so.id}" onclick="deleteOrganisasi(this)">Hapus</button></a></li>
				</ul>
			</div>
		</td>
		</tr>
		</tbody>
	</table>
	
		<!--  Modal Add Organisasi -->
		<div class="modal" id="organisasiModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: navy">
						<h4 class="modal-title">Tambah Organisasi</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonOrganisasiList"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Modal Edit Organisasi -->
		<div class="modal" id="organisasiEditModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: navy">
						<h4 class="modal-title">Edit Organisasi</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonOrganisasiEditList"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	
	<!--  Modal Hapus Organisasi -->
	<div class="modal" id="organisasiDeleteModal">
			<div class="modal-dialog" role="document" style="width: 150px">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: red">
						<h4 class="modal-title"> Hapus Organisasi</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="hapusOrganisasiList"></div>
					</div>
				</div>
			</div>
		</div>	
<script src="organisasi/organisasiList.js"></script>
</html>