<!DOCTYPE html>
<html>
<div class="container">
	<form action="#" id="dataEditOrganisasi" class="form-horizontal" th:object="${organisasiById}">
		<div class="form-group col-sm-9">
			<div class="col-sm-5">
				<input type="hidden" name="id" th:field="*{id}">
			</div>
		</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-5">
				<label class="control-label"> Nama Organisasi*</label>
				<input type="text" name="name" class="form-control" th:field="*{name}" onkeyup="cekOrganisasi()">
 				<span class="error_form" id="organization_error"></span>
 			</div>
 			<div class="col-sm-5">
 				<label class="control-label"> Jabatan*</label>	
				<input type="text" name="position" class="form-control" th:field="*{position}" onkeyup="cekJabatan()">
				<span class="error_form" id="position_error"></span>
 				</div>
			</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-5">
			<label class="control-label" id="masuk"> Tahun Masuk*</label>
 				<select name="entryYear" id="entryYear" class="selectpicker form-control" th:field="*{entryYear}" onchange="cekTahunMasuk()">
 					<option value="" selected="selected"> Pilih Tahun Masuk </option>
 					<option th:each="th :${tahunMasuk}" th:text="${th}" th:selected="${th==thnMasuk}" th:value="${th}"></option>
 				</select>
 				<span class="error_form" id="entry_year_error"></span>
 			</div>
 			
 			<div class="col-sm-5">
 				<label class="control-label" id="keluar"> Tahun Keluar*</label>
 				<select name="exitYear" id="exitYear" class="selectpicker form-control" th:field="*{exitYear}" onchange="cekTahunKeluar()">
 					<option value="" selected="selected"> Pilih Tahun Keluar </option>
 					<option  th:each="th :${tahunKeluar}" th:text="${th}" th:selected="${th==thnKeluar}" th:value="${th}"></option>
 				</select>
 				<span class="error_form" id="exit_year_error"> </span>
 			</div>
		</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-10">
				<label class="control-label"> Tanggung Jawab </label>
					<input type="text" name="responsblity" class="form-control" th:field="*{responsbility}">
					</div>
				</div>
		
		<div class="form-group col-sm-9">
			<div class="col-sm-10">
				<label class="control-label"> Catatan </label>
					<input type="text" name="notes" style="width: 100%; height: 100px; padding: 5px 10px;" class="form-control">
				</div>
			</div>
	
		<div class="form-group">
			<div class="col-sm-8" style="text-align: right">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button data-dismiss="modal" onclick="tutupModal2()" class="btn btn-secondary" style="background-color: #FD7E14; color: white;"> Batal </button>
					<button type="submit" id="btn_simpan" onclick="cekOrganisasi(); cekJabatan(); cekTahunMasuk(); cekTahunKeluar();" class="btn btn-secondary" style="background-color: navy; color: white"> Simpan </button>
				</div>
			</div>
		</div>
	</form>
</div>

<script src="organisasi/organisasiEdit.js"></script>
</html>