<!DOCTYPE html>
<html>
<style>
.no-border{
  border:none;
}
</style>
<div class="row">
	<form action="#" id="datanewcatatan" method="post">
		<input type="hidden" id="biodataId" name="biodataId" th:value="${ids}">
		<div class="form-group col-sm-12">
			<div class="col-sm-6" >
				<label id="label" class="control-label" style="color: navy;"> Judul Catatan*</label> 
				<input id="title" onkeyup="cek1()" name="title" class="form-control" style="border-color: navy; color: navy;">
				<span class="error_form" id="eror"></span>
			</div>
		
			<div class="col-sm-6">
				<label id="label2" class="control-label" style="color: navy;">Jenis Catatan *</label>
				 <select style=" border-color: navy; color: navy;"	id="noteTypeId" name="noteTypeId" onchange="cek2()"	class="selectpicker form-control ">
					<option value="">- Pilih -</option>
					<option th:each="s :${tipenote}" th:text="${s.name}"
						th:value="${s.id}"></option>
				</select>
				<span class="error_form" id="eror2"></span>
			</div>
		</div>

		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" style="color: navy;"> Catatan </label> <input name="notes"
					style="width: 100%; height: 100px; padding: 5px 10px; border-color: navy; color: navy;"
					class="form-control">


			</div>
		</div>

		<div class="form-group col-sm-12">
		<div class="modal-footer no-border">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" onclick="tutupmodal()" class="btn btn-secondary"
						style="background-color: #fd7e14; color: white;">Batal</button>
					<button onclick="btnsave()" id="btn_simpan" type="button" class="btn btn-secondary"
						style="background-color: navy; color: white;">Simpan</button>
			</div>
		</div>
		</div>
	</form>
</div>
<script src="catatan/catatanadd.js"></script>
</html>