<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${catatanbyid}">


	<table class="table table-striped" style="width: 83%">
		<thead>
		<tr>
			<td style="font-size: large;">
				<b style="color:navy;">CATATAN</b> 
				<button class="glyphicon glyphicon-plus-sign"  style="background:none; border:none; color: navy; font-size: large;" onclick="addform()"></button>
			</td>
		</tr>
			<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px;">

				<th width="300px" style="color: navy">JUDUL CATATAN</th>
				<th width="300px" style="color: navy">JENIS CATATAN</th>
				<th width="300px" style="color: navy">DIBUAT OLEH</th>
				<th>#</th>

			</tr>
		</thead>
		<tbody>
			<tr style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);"
			th:each="sc :${semuacatatan}">
				<td th:text="${sc.title}"></td>
				<td th:text="${sc.name}"></td>
				<td th:text="${sc.nickName}"></td>
				<td>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/catatanedit/' + ${sc.id}" onclick="editcatatan(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/catatandelete/' + ${sc.id}" onclick="deletecatatan(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>

<!-- The Modal -->
		<div class="modal" id="cmodal">
			<div class="modal-dialog modal-lg" style="position: fixed; left: 15%;">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: navy">
						<b style="font-size: large; " class="modal-title" id="judul"></b>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="noncatatanlist"></div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- The Modal -->
		<div class="modal" id="delcmodal" >
			<div class="modal-dialog  ">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="color: white; background-color: red">
						<b style="font-size: large;" class="modal-title" id="judul2"></b>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="delcatatanlist"></div>
					</div>
				</div>
			</div>
		</div>

</body>
<script src="catatan/catatanlist.js"></script>
</html>