<html>
	<table id="tbreligion" class="table table-striped">
		<thead>
			<tr style="border-top: thin solid navy; border-bottom: 4px solid navy; color: navy">
				<th>NAMA</th>
				<th>DESKRIPSI</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody id="religiontb">
			<tr th:each="sr :${semuareligion}">
				<td style="border-top: thin solid navy;" th:text="${sr.name}"></td>
				<td style="border-top: thin solid navy;" th:text="${sr.description}"></td>
				<td style="border-top: thin solid navy;">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
					<b>More</b>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" style="text-align:left;">
						<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/religionedit/' + ${sr.id}" onclick="editreligion(this)">Ubah</button></a></li>
					    <li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/religiondelete/' + ${sr.id}" onclick="deletereligion(this)">Hapus</button></a></li>
					</ul>
				</div>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="religion/religionlist.js"></script>
</html>