<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List sertifikasi</title>
</head>
<body>
    <input type="hidden" id="idbiodata" name="idbiodata" th:value="${sertifikasibyid}">

	<table style="width: 70%;" class="table">
		<thead>
		<tr>
			<td style="font-size: large;"><b>Sertifikasi</b> <input type="image" alt="tambah" src="images/tambah.png" style="width:20px;height:20px;" onclick="addform()"></td>
		</tr>
			<tr style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
				<td>Nama Sertifikat</td>
				<td>Penerbit</td>
				<td>Masa Berlaku Sertifikasi</td>
				<td>#</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sp :${semuasertifikasi}" style="border-top:2px solid navy">
				<td th:text="${sp.certificateName}"></td>
				<td th:text="${sp.publisher}"></td>
				<td th:text="${sp.validStartYear}+'-'+${sp.validStartMonth}+' s.d '+${sp.untilMonth==null?'':sp.untilMonth}+'-'+${sp.untilYear==null?'':sp.untilYear}"></td>				
<!-- 				<td th:text="${sp.id}"></td>				 -->
<!-- 				<td th:text="${sp.biodataId}"></td>				 -->
				<td><div class="dropdown">
  					<button style="background-color:navy" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				 	<b style="color:white;">More</b>
   				 	<span class="caret" style="color:white;"></span>
  					</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color:navy;">
    				<button class="btn btn-link" th:href="'/sertifikasiedit/' + ${sp.id}" onclick="editsertifikasi(this)" style="text-align:left; background:none; border:none; width:100%;">Edit</button>
    				<br>
    				<button class="btn btn-link" th:href="'/sertifikasidelete/' + ${sp.id}" onclick="deletesertifikasi(this)" style="text-align:left; background:none; border:none; width:100%;">Delete</button>
  				</div>
				</div></td>
			</tr>
		</tbody>
	</table>
	
	<!-- The Modal -->
		<div class="modal" id="sertifikasiModal">
			<div class="modal-dialog" style="position: fixed; left: 12.5%" >
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
						<h4 class="modal-title">Sertifikasi
						<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					</h4></div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" style="height: 100%" id="nonsertifikasilist" ></div>
					</div>
				</div>
			</div>
		</div>
							<div class="clearfix"></div>
		
	<!-- ................................................................. -->
	<!-- The Modal -->
	<div class="modal" id="delsertifikasiModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content"style="position: fixed; left: 22.5%">
				<!-- Modal Header -->
				<div class="modal-header" style="background-color:red; color:white;">
					<h4 class="modal-title">Hapus ?
					<button type="button" class="close" onclick="tutupmodal()">&times;</button>
				</h4></div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="delsertifikasilist"></div>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script src="sertifikasi/sertifikasilist.js"></script>
</html>