<!DOCTYPE html>
<html>

<div class="row">
	<form id="datanewsertifikasi" method="post" class="form-horizontal">
		<input type="hidden" id="biodataId" name="biodataId" th:value="${ids}">
		<div class="form-group col-sm-12">
<!-- 			       <input type="text" name="idbiodata"  th:value="${idbiodata}"> -->
			<div class="col-sm-6">
				<label class="control-label">Nama Sertifikasi*</label> <input
					id="certificateName" type="text" class="form-control" name="certificateName" onkeyup="cek1()"   />
			</div>
			<div class="col-sm-6">
				<label class="control-label">Penerbit*</label> <input type="text"
					id="publisher" class="form-control" name="publisher" onkeyup="cek2()"/>
			</div>
		</div>


		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label">Berlaku Mulai</label>
			</div>
			<div class="col-sm-6">
				<label class="control-label" id="keluar">Berlaku Sampai</label>
			</div>

			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan"
					name="validStartMonth"  id="validStartMonth" onchange="selectfunction()">
					<option value="" selected>-Bulan-</option>
					<option value="01" >Januari</option>
					<option value="02" >Februari</option>
					<option value="03" >Maret</option>
					<option value="04" >April</option>
					<option value="05" >Mei</option>
					<option value="06" >Juni</option>
					<option value="07" >Juli</option>
					<option value="08" >Agustus</option>
					<option value="09" >September</option>
					<option value="10">Oktober</option>
					<option value="11">November</option>
					<option value="12">Desember</option>
				</select>
			</div>
			
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun"
					name="validStartYear" id="validStartYear" onchange="selectfunction()">
					<option value="" selected>-Tahun-</option>

					<option th:each="thk :${tahun}" th:text="${thk}"></option>
				</select>
			</div>
		
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan"
					name="untilMonth"  id="untilMonth" disabled="disabled" onchange="cekbln()">
					<option value="" selected>-Bulan-</option>
					<option value="01" >Januari</option>
					<option value="02" >Februari</option>
					<option value="03" >Maret</option>
					<option value="04" >April</option>
					<option value="05" >Mei</option>
					<option value="06" >Juni</option>
					<option value="07" >Juli</option>
					<option value="08" >Agustus</option>
					<option value="09" >September</option>
					<option value="10" >Oktober</option>
					<option value="11" >November</option>
					<option value="12" >Desember</option>
				</select>
				<span class="error_form" id="resign_month_error"></span>
				
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun"
					name="untilYear" id="untilYear" disabled="disabled" onchange="cekthn()" >
					<option value="" selected>-Tahun-</option>

					<option th:each="thk :${tahun}" th:text="${thk}"></option>
				</select>
				<span class="error_form" id="resign_year_error"></span>
				
			</div>
		</div>

		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label">Note</label>
				<textarea class="form-control" name="notes"/></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">

			<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group">
					<button onclick="tutupmodal2()" type="button" class="btn btn-secondary"
						style="background-color: #fd7e14; color: white;">Batal</button>
					<button id="btn1" type="submit" class="btn btn-secondary"
						style="background-color: navy; color: white;" disabled="disabled">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- <script src="../jquery.js"></script> -->
<script src="../sertifikasi/sertifikasiadd.js"></script>
</html>