<!DOCTYPE html>
<html>
<!-- <form action="#" id="dataeditsertifikasi" th:object="${sertifikasibyid}"> -->
<div class="row">
	<form id="dataeditsertifikasi" method="post" class="form-horizontal"
		th:object="${sertifikasibyid}">
		<input type="hidden" name="ids" th:field="*{id}">
		<input type="hidden" id="biodataId" name="biodataId" th:field="*{biodataId}">

		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label">Nama Sertifikasi*</label> <input
					type="text" class="form-control" name="certificateName"
					th:field="*{certificateName}" id="certificateName" onkeyup="cek1()" />
			</div>
			<div class="col-sm-6">
				<label class="control-label">Penerbit*</label> <input type="text"
					class="form-control" name="publisher" th:field="*{publisher}" id="publisher" onkeyup="cek2()" />
			</div>
		</div>


		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label">Berlaku Mulai</label>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Berlaku Sampai</label>
			</div>

			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan"
					name="validStartMonth"
					th:field="*{validStartMonth}" id="validStartMonth"
					onchange="selectfunction()">
					<option value="" selected>-Bulan-</option>
					<option value="01" selected>Januari</option>
					<option value="02" selected>Februari</option>
					<option value="03" selected>Maret</option>
					<option value="04" selected>April</option>
					<option value="05" selected>Mei</option>
					<option value="06" selected>Juni</option>
					<option value="07" selected>Juli</option>
					<option value="08" selected>Agustus</option>
					<option value="09" selected>September</option>
					<option value="10" selected>Oktober</option>
					<option value="11" selected>November</option>
					<option value="12" selected>Desember</option>
				</select>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun"
					name="validStartYear"
					th:field="*{validStartYear}" id="validStartYear"
					onchange="selectfunction()">
					<option value="" selected>-Tahun-</option>

					<option th:each="thk :${tahun}" th:text="${thk}" th:value="${thk}"></option>
				</select>
			</div>

			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan"
					name="untilMonth" th:field="*{untilMonth}"
					id="untilMonth" disabled="disabled" onchange="cekbln()">
					<option value="" selected>Bulan</option>
					<option value="01" selected>Januari</option>
					<option value="02" selected>Februari</option>
					<option value="03" selected>Maret</option>
					<option value="04" selected>April</option>
					<option value="05" selected>Mei</option>
					<option value="06" selected>Juni</option>
					<option value="07" selected>Juli</option>
					<option value="08" selected>Agustus</option>
					<option value="09" selected>September</option>
					<option value="10" selected>Oktober</option>
					<option value="11" selected>November</option>
					<option value="12" selected>Desember</option>
				</select>
			<span class="error_form" id="resign_month_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun"
					name="untilYear" th:field="*{untilYear}"
					id="untilYear" disabled="disabled" onchange="cekthn()">
					<option value="" selected>-Tahun-</option>

					<option th:each="thk :${tahun}" th:text="${thk}" th:value="${thk}"></option>
				</select>
				<span class="error_form" id="resign_year_error"></span>
				
			</div>
		</div>

		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label">Note</label>
				<textarea class="form-control" name="notes"
					th:field="*{notes}" /></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">

			<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				
				<div class="btn-group" role="group">
					<button onclick="tutupmodal2()" type="button" class="btn btn-secondary"
						style="background-color: #fd7e14; color: white;">Batal</button>
					<button type="submit" class="btn btn-secondary"
						style="background-color: navy; color: white;" id="btn1" onclick="cek1()">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="../sertifikasi/sertifikasiedit.js"></script>
</html>