
.dataTables_filter {
	display: none;
}
.dataTables_length {
	display: none;
}
.dataTables_paginate {
	display: none;
}
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}