<!DOCTYPE html>
<html>




        <div style="background-color:white;">
            <table class="table table-striped">
                <tr th:each="dt :${detil}" style="width: 100%">
                    <td style="background-color:white; width:40% ">
                        <label th:text="${'Tgl.Undangan : '+#dates.format(dt.invitationDate, 'dd, MMMM yyyy')}"></label><br>
                        <label th:text="${'Jam : '+dt.time}"></label><br>
                        <label th:text="${'Pelamar : '+dt.fullName}"></label><br>
                        <label th:text="${'Jenis Undangan : '+dt.name}"></label><br>
                        <label th:text="${'RO : '+dt.namaro}"></label><br>
                        <label th:text="${'TRO : '+dt.namatro}"></label><br>
                        <label th:text="${'RO/TRO Lain : '+dt.otherRoTro}"></label><br>
                        <label th:text="${'Lokasi : '+dt.location}"></label><br>
                        <label th:text="${'Catatan : '+dt.notes}"></label>
                    </td>
                    <td style="background-color:white; width: 60%; text-align: right; padding-right: 10%">
                        <i style="font-size:200px;" class="glyphicon glyphicon-envelope"></i>
                    </td>
                </tr>
            </table>
        </div>		
 	
</html>