<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style >

.html{
  overflow-y: scroll;
}

.dataTables_filter {
	display: none;
}
.dataTables_length {
	display: none;
}
.dataTables_paginate {
	display: none;
}
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}
</style>
</head>
<body>
<!--  <div style="border-bottom: 3px solid rgb(0,0,102);margin-bottom:10px;"> -->
<!--  	<div> -->
<!-- 		<h3>Undangan  <button type="button" class="btn  btn-primary btn-circle"  onclick="addform()">+</button></h3>                     -->
<!-- 	</div>	 -->
<!--  </div> -->
 
<!--  <div style="margin-bottom:10px;"> -->
<!--       <input id="myInput" type="text" placeholder="Nama Pelamar" -->
<!--                 style="border: 2px solid rgb(0,0,102);border-radius: 4px; width: 50%; padding: 5px 10px;" required> -->
<!--       <button type="button" class="btn  btn-primary btn-round" -->
<!--                 style="background-color:rgb(0, 0, 102); color:white" id="caributton"><strong>Cari</strong></button> -->
<!--       <button type="button" class="btn  btn-primary btn-round" -->
<!--                 style="background-color:rgb(0, 0, 102); color:white" onclick="reset()"><strong>Reset</strong></button> -->
<!--       <div> -->
<!--             <h5 id="warning"></h5> -->
<!--       </div> -->
<!-- </div> -->
	<table class="table table-striped" id="tbundangan">
		<thead>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr	th:each="sk :${semuaundangan}">
				<td  th:text="${sk.invitationCode}"></td>
				<td  th:text="${sk.fullName}"></td>
				<td  th:text="${sk.schoolName + ' / ' + sk.major}"></td>
				<td  th:text="${#dates.format(sk.invitationDate, 'dd, MMMM yyyy')}"></td>
				
				<td width="20px">				
                    <button th:href="'/undangandetail/' + ${sk.id}" onclick="detailundangan(this)" style="text-align: left; background: none; border: none; width: 100%;">
                        <span style="color: navy;" class="glyphicon glyphicon-search"></span>
                    </button>
                </td>
				<td width="20px">				
                    <button th:href="'/undanganedit/' + ${sk.id}" onclick="editundangan(this)" style="text-align: left; background: none; border: none; width: 100%;">
                        <span style="color: navy;" class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <button th:href="'/undangandelete/' + ${sk.id}" onclick="deleteundangan(this)" style="text-align: left; background: none; border: none; width: 100%;">
                        <span style="color: navy;" class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
			</tr>
		
	</table>
 
</body>
<script src="undangan/undanganlist.js"></script>
</html>