<!DOCTYPE html>
<html>

<div class="row">
	<form action="#" id="dataeditundangan" method="post" th:object="${undanganbyid}">
		<input type="text" name="id" th:field=*{id}>
		<input type="text" name="undanganId" th:value=*{id}>
		<input type="text" name="invitationCode" th:field=*{invitationCode}>
		    
			    
		<div class="form-group col-sm-12 ">	
			<div class="col-sm-6" >		
				<input th:field=*{invitationDate} id="tanggal" name="invitationDate" class="form-control" placeholder="tgl undangan *" >								
			</div>
				
			<div class="col-sm-6">
<!-- 				<select class="form-control" id="time" name="time" > -->
<!-- 					<option value="" disabled selected hidden >Jam *</option> -->
<!-- 				</select> -->
				<input th:field=*{time} type="text" class="form-control" id="jam" name="time" placeholder="Jam *"/>
				
		</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="col-sm-6" th:object="${det}">
				<select th:field=*{biodataId} class="form-control" id="biodataId" name="biodataId"  >
					<option value="" disabled selected hidden >Pelamar *</option>
					<option  th:each="p :${listpelamar}" th:text="${p.fullName}" th:value="${p.id}"></option>
				</select>			
			</div>
		
		
			<div class="col-sm-6" >
				<select th:field=*{scheduleTypeId} class="form-control" name="scheduleTypeId" >
					<option value="" disabled selected hidden >Jenis Undangan *</option>
					<option  th:each="s :${listtipe}" th:text="${s.name}" th:value="${s.id}"></option>
				</select>			
			</div>
		</div>
		
		<div class="form-group col-sm-12">
		<div class="col-sm-6" >
			<select th:field=*{ro} class="form-control" name="ro" >
				<option value="" disabled selected hidden >RO</option>
				<option th:each="p :${listkaryawan}" th:text="${p.fullName}" th:value="${p.id}"></option>
			</select>			
		</div>
		
			<div class="col-sm-6" >
				<select th:field=*{tro} class="form-control" name="tro" >
					<option selected disabled value="" >TRO</option>
					<option th:each="p :${listkaryawan}" th:text="${p.fullName}" th:value="${p.id}"></option>
				</select>			
			</div>
		</div>
		
		<div class="form-group col-sm-12">	
			<div class="col-sm-6" >		
				<input th:field=*{otherRoTro} name="otherRoTro" class="form-control" placeholder="RO/TRO Lain" >								
			</div>
		
			<div class="col-sm-6" >		
				<input th:field=*{location} name="location" class="form-control" placeholder="Lokasi" >								
			</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="col-sm-12" th:object="${det}">
				<input th:field=*{notes} name="notes"	class="form-control" placeholder="Catatan" style="width: 100%; height: 100px; padding: 5px 10px; ">
			</div>
		</div>		
		
		<div class="modal-footer no-border" >
			<div class="btn-group" role="group" aria-label="Basic example" >
				<button data-dismiss="modal" class="btn btn-secondary"
					style="background-color: aqua; color: white;">Batal</button>
				<button type="submit" class="btn btn-secondary"
					style="background-color: navy; color: white;">Simpan</button>
			</div>
		</div>
	
	</form>
</div>
<script src="undangan/undanganedit.js"></script>
</html>