<!DOCTYPE html>
<html>
<style>
.no-border{
  border:none;
}

</style>
<div class="row">
	<form action="#" id="datanewundangan" method="post">
			    
		<div class="form-group col-sm-12 ">	
			<div class="col-sm-6" >		
				<input  id="tanggal" name="invitationDate" class="form-control" placeholder="tgl undangan *" onkeyup="valtgl()">	
				<span class="error_form" id="etgl"></span>							
			</div>
				
			<div class="col-sm-6" >
<!-- 				<select class="form-control" id="time" name="time" > -->
<!-- 					<option value="" disabled selected hidden >Jam *</option> -->
<!-- 				</select> -->
				<input  class="form-control" id="jam" name="time" placeholder="Jam *" onchange="valjam()"/>
				<span class="error_form" id="ejam"></span>
		</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="col-sm-6" >
				<select class="form-control" id="biodataId" name="biodataId" onkeyup="valpelamar()" >
					<option value="" disabled selected hidden >Pelamar *</option>
					<option th:each="p :${listpelamar}" th:text="${p.fullName}" th:value="${p.id}"></option>
				</select>		
				<span class="error_form" id="epel"></span>	
			</div>
		
		
			<div class="col-sm-6" >
				<select class="form-control" name="scheduleTypeId" onkeyup="valjenis()">
					<option value="" disabled selected hidden >Jenis Undangan *</option>
					<option th:each="s :${listtipe}" th:text="${s.name}" th:value="${s.id}"></option>
				</select>	
				<span class="error_form" id="ejen"></span>		
			</div>
		</div>
		
		<div class="form-group col-sm-12">
		<div class="col-sm-6" >
			<select class="form-control" name="ro" >
				<option value="" disabled selected hidden >RO</option>
				<option th:each="p :${listkaryawan}" th:text="${p.fullName}" th:value="${p.id}"></option>
			</select>			
		</div>
		
			<div class="col-sm-6" >
				<select class="form-control" name="tro" >
					<option selected disabled hidden >TRO</option>
					<option th:each="p :${listkaryawan}" th:text="${p.fullName}" th:value="${p.id}"></option>
				</select>			
			</div>
		</div>
		
		<div class="form-group col-sm-12">	
			<div class="col-sm-6" >		
				<input name="otherRoTro" class="form-control" placeholder="RO/TRO Lain" >								
			</div>
		
			<div class="col-sm-6" >		
				<input name="location" class="form-control" placeholder="Lokasi" >								
			</div>
		</div>
		
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<input name="notes"	class="form-control" placeholder="Catatan" style="width: 100%; height: 100px; padding: 5px 10px; ">
			</div>
		</div>		
		
		<div class="modal-footer no-border" >
			<div class="btn-group" role="group" aria-label="Basic example" >
				<button data-dismiss="modal" class="btn btn-secondary"
					style="background-color: aqua; color: white;">Batal</button>
				<button type="submit" class="btn btn-secondary"
					style="background-color: navy; color: white;">Simpan</button>
			</div>
		</div>
	
	</form>
</div>
<script type="text/javascript">

</script>
<script src="undangan/undanganadd.js"></script>
</html>