<!DOCTYPE html>
<html>
<body>
	<div class="row" style="color: navy">
		<div class="col-sm-4" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Status</b><br>
			<label style="font-size: medium" th:text="${ts.status}"></label>
		</div>
		<div class="col-sm-5" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Klien</b><br>
			<label style="font-size: medium" th:text="${ts.name}"></label>
		</div>
	</div>
	<div class="row" style="color: navy">
		<div class="col-sm-4" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Tanggal</b><br>
			<label style="font-size: medium" th:text="${#dates.format(ts.timesheetDate, 'MMMM dd, yyyy')}"></label>
		</div>
		<div class="col-sm-5" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Jam Kerja</b><br>
			<label style="font-size: medium" th:text="${ts.start} +'-'+ ${ts.end}"></label>
		</div>
	</div>
	<div class="row" style="color: navy">
		<div class="col-sm-4" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Overtime</b><br>
			<label style="font-size: medium" th:text="${ts.overtime==null?'-':ts.overtime}"></label>
		</div>
		<div class="col-sm-5" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Jam Overtime</b><br>
			<label style="font-size: medium" th:text="${ts.startOt==null?'':ts.startOt} +'-'+ ${ts.endOt==null?'':ts.endOt}"></label>
		</div>
	</div>
	<div class="row" style="color: navy">
		<div class="col-sm-4" th:each="ts:${ts}">
			<b style="font-size: small; font-weight: normal" >Kegiatan</b><br>
			<label th:text="${ts.activity}"></label>
		</div>
	</div>
	<div class="row" role="group" aria-label="Basic example" style="margin-top: 15px; margin-left: 90%;">
		<button data-dismiss="modal" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Close</button>
	</div>
</body>
<script src="timesheet/timesheetlist.js"></script>
</html>