<!DOCTYPE html>
<html>
<table id="sendlist" class="table table-striped">
	<thead>
			<tr style="border-bottom: 3px solid; font-weight: bold; border-bottom-color: rgb(0,0,102);border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px">
				<td>STATUS</td>
				<td>TANGGAL</td>
				<td>CLIENT</td>
			</tr>
	</thead>
	<tbody>
			<tr th:each="ts :${semuatimesheet}" style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
				<td th:text="${ts.status}"></td>
				<td th:text="${#dates.format(ts.timesheetDate, 'MMMM dd, yyyy')}"></td>
				<td th:text="${ts.name}"></td>
			</tr>
	</tbody>
</table>
<script src="timesheet/sendlist.js"></script>
</html>