<!DOCTYPE html>
<html>
<body>

<div class="modal-content">
	<!-- Modal Header -->
	<div class="modal-header" style="background-color:navy; color:white">
       <h4 class="modal-title">Send Timesheet</h4>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body"  style="max-height: max-content;">

<div id="send"></div>
<div class="row">
<div class="form-group col-xm-12">
	<div class="col-sm-6">
			<label class="control-label" style="font-weight: normal; color: navy">Tahun*</label>
			<select id="year" class="form-control" name = "year" style="color: navy; border-color: navy">
				<option value="" selected>- Pilih Tahun -</option>
				<option th:each="thk :${tahun}" th:text="${thk}"></option>
			</select>
	</div>
	<div class="col-sm-6">
			<label class="control-label" style="font-weight: normal; color: navy">Bulan*</label>
			<select id="month" class="form-control" name = "month" style="color: navy; border-color: navy">
					<option value="" selected>- Pilih Bulan-</option>
					<option value="1" >Januari</option>
					<option value="2" >Februari</option>
					<option value="3" >Maret</option>
					<option value="4" >April</option>
					<option value="5" >Mei</option>
					<option value="6" >Juni</option>
					<option value="7" >Juli</option>
					<option value="8" >Agustus</option>
					<option value="9" >September</option>
					<option value="10">Oktober</option>
					<option value="11">November</option>
					<option value="12">Desember</option>
			</select>
	</div> 
</div>
</div>
<br>
<div id="sendlist"></div>
	<div id="cek" class="btn-group" role="group" aria-label="Basic example" style="margin-top: 15px; margin-left: 86%;">
		<button disabled="disabled" id="reset" data-dismiss="modal" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Reset</button>
		<button disabled="disabled" onclick="send()" id="submit" type="button" class="btn btn-secondary" style="background-color:navy; color:white;">Send</button>
	</div>
</div>
</body>
<script src="timesheet/send.js"></script>
</html>