<!DOCTYPE html>
<html>
<body>
<div class="modal-content">
	<!-- Modal Header -->
	<div class="modal-header" style="background-color:navy; color:white">
       <h4 class="modal-title">Timesheet Approval</h4>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body"  style="max-height: max-content;">
      
<div id="timesheet"></div>
<div class="row">
<div class="form-group col-xm-12">
	<div class="col-sm-6">
		<label class="control-label" style="font-weight: normal; color: navy">Tahun*</label>
		<select id="year" class="form-control" name = "year" style="color: navy; border-color: navy">
			<option value="" selected>- Pilih Tahun -</option>
			<option th:each="thk :${tahun}" th:text="${thk}"></option>
		</select>
	</div>
	<div class="col-sm-6">
		<label class="control-label" style="font-weight: normal; color: navy">Bulan*</label>
		<select id="month" class="form-control" name = "month" style="color: navy; border-color: navy">
			<option value="" selected>- Pilih Bulan-</option>
			<option value="1" >Januari</option>
			<option value="2" >Februari</option>
			<option value="3" >Maret</option>
			<option value="4" >April</option>
			<option value="5" >Mei</option>
			<option value="6" >Juni</option>
			<option value="7" >Juli</option>
			<option value="8" >Agustus</option>
			<option value="9" >September</option>
			<option value="10">Oktober</option>
			<option value="11">November</option>
			<option value="12">Desember</option>
		</select>
	</div> 
</div>
</div>
<br>
<div id="timesheetlist"></div>
<div id="cek" class="btn-group" role="group" aria-label="Basic example" style="margin-top: 15px; margin-left: 79%;">
				<button disabled="disabled" onkeyup="reset" id="1" data-dismiss="modal" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Batal</button>
				<button disabled="disabled" id="tolak" type="reset" class="btn btn-secondary" style="background-color:#990000; color:white;">Tolak</button>
				<button disabled="disabled" id="3" type="submit" class="btn btn-secondary" style="background-color:navy; color:white;">Setujui</button>
			</div>
	</div>
  <!-- The Modal -->
  <div class="modal" id="penilaianmodal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color:navy; color:white">
          <h4 class="modal-title">Penilaian Resource</h4>
          <button type="button" class="close" style="background-color:navy; color:white;" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body"  style="max-height: max-content;">
        	<div class="box-body" id="penilaianlist"></div>
        </div>
        
      </div>
    </div>
  </div>
  
  <div class="modal" id="detailmodal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color:navy; color:white">
          <b class="modal-title" style="font-weight: normal; font-size: large;">Detail</b>
          <button type="button" class="close" style="background-color:navy; color:white;" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body"  style="max-height: max-content;">
        	<div class="box-body" id="detaillist"></div>
        </div>
        
      </div>
    </div>
  </div>
</body>
<script src="timesheet/timesheet.js"></script>
</html>