<!DOCTYPE html>
<html>
<input type="hidden" id="idplacement" name="idplacement" th:value="${timesheetassesmentbyid}">
<table id="list" class="table table-striped">
	<thead>
			<tr style="border-bottom: 3px solid; font-weight: bold; border-bottom-color: rgb(0,0,102);border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px">
				<td>
					<input class="form-check-input" type="checkbox" style="width: 18px; height: 18px; border-color: navy" id="checkAll">
				</td>
				<td>STATUS</td>
				<td>TANGGAL</td>
				<td>CLIENT</td>
				<td></td>
			</tr>
	</thead>
	<tbody>
			<tr th:each="ts :${semuatimesheetassesment}" style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
				<td>
					<input class="form-check-input chk" th:value="${ts.id}" id="check" type="checkbox" onchange="ck(this)" style="width: 18px; height: 18px; border-color: navy">
				</td>
				<td hidden="true" id="idtsa" th:text="${ts.placementId}"></td>
				<td th:text="${ts.status}"></td>
				<td th:text="${#dates.format(ts.timesheetDate, 'MMMM dd, yyyy')}"></td>
				<td th:text="${ts.name}"></td>
				<td>
					<button th:href="'/detail/' + ${ts.id}" onclick="detail(this)" style="text-align:left;background:none; border:none; width:100%">
						<span style="color:navy" class="glyphicon glyphicon-search"></span>
					</button>
				</td>
			</tr>
	</tbody>
</table>
<script src="timesheet/timesheetlist.js"></script>	
</html>