<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>

<body>
<table class="table table-striped" id="tb_family_tree_type" style="width: 100%; margin-top: 5px;">
	<thead>
		<tr style="border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);">
			<td style="border-bottom: 2px solid navy; border-top: 1px solid navy; color: #023692"> <font color="navy"> <b>Nama</b> </font> </td>
			<td style="border-bottom: 2px solid navy; border-top: 1px solid navy; color: #023692"> <font color="navy"> <b>Deskripsi</b> </font> </td>
			<td style="border-bottom: 2px solid navy; border-top: 1px solid navy; color: #023692"> <font color="navy"> <b>#</b> </font> </td>
		</tr>
	</thead>
		
		<tbody>
			<tr style="border-top: 2px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102);" th:each="sftt :${semuaFamilyTreeType}">
				<td th:text="${sftt.name}"></td>
				<td th:text="${sftt.description}"></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">
						<b>More</b>
						<span class="caret"></span>
						</button>
 						<ul class="dropdown-menu" role="menu" style="text-align:left;">
							<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/familyTreeTypeEdit/' + ${sftt.id}" onclick="editFamilyTreeType(this)">Ubah</button></a></li>  
							<li><a><button style="text-align:left; background:none; border:none; width:100%;" th:href="'/familyTreeTypeDelete/' + ${sftt.id}" onclick="deleteFamilyTreeType(this)">Hapus</button></a></li>
					</ul> 
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div id="pager" style="text-align: right; ">
		<ul id="pagination" class="pagination-sm"> </ul>
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item prev" id="mundur2">
						<a class="page-link" href="#"> Previous </a></li>
					<li class="page-item" id="maju2">
						<a class="page-link" href="#"> Next </a> </li>
					</ul>
				</nav>
			</div>	
		</body>
	<script src="familyTreeType/familyTreeTypeList.js"></script>
</html>