<!DOCTYPE html>
<html>
<br>
<body>
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${pendidikanbyid}">
<table class="table table-striped" style="width:76%">
		<thead>
		<tr>
			<td style="font-size: large; color: navy"><b>Pendidikan</b> <input type="image" alt="tambah" src="images/add.png" style="width:20px;height:20px;" onclick="addform()"></td>
		</tr>
			<tr style="border-bottom: 4px solid; font-weight: bold; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px;">
				<td>SEKOLAH/INSTANSI</td>
				<td>JENJANG</td>
				<td>PERIODE</td>
				<td>JURUSAN</td>
				<td>IPK</td>
				<td>#</td>
			</tr>
		</thead>
		<tbody>
			<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)" th:each="sk :${semuapendidikan}">
				<td th:text="${sk.schoolname}"></td>
				<td th:text="${sk.name}"></td>
				<td th:text="${sk.entryYear=='-'?'-':sk.entryYear}+' s/d '+${sk.graduationYear=='-'?'-':sk.graduationYear}"></td>
				<td th:text="${sk.major==''?'-':sk.major}"></td>
			 	<td th:text="${sk.gpa==null?'-':sk.gpa}"></td>
				<td>
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">More
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  		<li><a><button style="background:none; border:none;" th:href="'/pendidikanedit/' + ${sk.id}" onclick="editpendidikan(this)">Ubah</button></a></li>
	    					<li><a><button style="background:none; border:none;" th:href="'/pendidikandelete/' + ${sk.id}" onclick="deletependidikan(this)">Hapus</button></a></li>
					  </ul>
					</div>
				</td>
				
			</tr>
		</tbody>
	</table>
	
	<!-- The Modal -->
	<div class="modal" id="pendidikanModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 5%">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<h3 class="modal-title">Tambah Pendidikan</b>
						<button type="button" class="close" style="background-color:navy; color:white;" onclick="tutupmodal()">&times;</button>
					</div>
					<div class="modal-body">
						<div class="box-body" id="nonpendidikanlist"></div>
					</div>
					
					
				</div>
			</div>
	</div>
	
		<div class="modal" id="editpendidikanModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 5%">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<h3 class="modal-title">Ubah Pendidikan</b></h3>
						<button type="button" class="close" style="background-color:navy; color:white;" onclick="tutupmodal()">&times;</button>
					</div>
					<div class="modal-body">
						<div class="box-body" id="noneditpendidikanlist"></div>
					</div>
					
					
				</div>
			</div>
	</div>
		
	<div class="modal" id="delpendidikanModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:#990000; color:white;">
						<h3 class="modal-title">Hapus Pendidikan ?</b>
						
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="delpendidikanlist"></div>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>					
				</div>
			</div>
		</div>
	</body>
<script src="pendidikan/pendidikanlist.js"></script>
</html>