<!DOCTYPE html>
<html>
<div class="row">
<form id="datanewpendidikan" style="font-size: 14px; color: navy" method="post" class="form-horizontal">
<input type="hidden" id="biodataId" name="biodataId" th:value="${ids}">
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label">Nama Sekolah/Instansi*</label>
			<input id="sekolahan" style="border-color: navy" class="form-control" type="text" name="schoolname">
			<input id="ket1" type="text" style="border: none; width:200px; color: red; font-size: 13px" value="nama sekolah masih kosong" hidden></input>
		</div>
		<div class="col-sm-3">
			<label class="control-label">Kota</label>
			<input style="border-color: navy" class="form-control" type="text" name="city">
		</div>
		<div class="col-sm-3">
			<label class="control-label">Negara</label>
			<input style="border-color: navy" class="form-control" type="text" name="country">
		</div>
	</div>
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label">Jenjang Pendidikan*</label>
			<select id="educationLevelId" style="border-color: navy; color: navy" class="form-control"type="text" name="educationLevelId">
					<option value="" selected="true">- Pilih -</option>
					<option th:each="j:${listjenjang}" th:text="${j.name}" th:value="${j.id}"></option>
			</select>
			<input id="ket2" type="text" style="border: none; width:200px; color: red; font-size: 13px" value="belum memilih jenjang pendidikan" hidden></input>
		</div>
		<div class="col-sm-3">
			<label class="control-label">Tahun Masuk</label>
			<select style="border-color: navy; color: navy"  class="form-control" name = "entryYear" id="entryYear">
				<option value="-" selected="true">- Pilih -</option>
				<option  th:each="th1 :${tahun}" th:text="${th1}" th:value="${th1}"></option>
			</select>
		</div>
		<div class="col-sm-3">
			<label for="title">Tahun Lulus</label>
			<select style="border-color: navy; color: navy" id="graduationYear" class="form-control" name = "graduationYear">
					<option value="-" selected="true">- Pilih -</option>
					<option th:each="th2 :${tahun}" th:text="${th2}" th:value="${th2}"></option>
			</select>
			<input id="ket3" type="text" style="border: none; width:200px; color: red; font-size: 13px" value="tahun lulus harus lebih besar" hidden></input>
		</div> 
	</div>
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label for="title">Jurusan</label>
			<input style="border-color: navy" class="form-control" type="text" name="major" id="major">
		</div>
		<div class="col-sm-6">
			<label for="title">IPK</label>
			<input style="border-color: navy" class="form-control" type="text" id="gpa" name="gpa">
		</div>
	</div>
	<div class="form-group col-sm-12">
		<div class="col-sm-12">
			<label class="control-label">Catatan</label>	
			<textarea style="border-color: navy" class="form-control" name="notes" ></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12 col-sm-offset-9">
			<div class="btn-group " role="group" aria-label="Basic example" style="margin-top: 15px; margin-left: 5.5%;" >
				<button type="button" onclick="tutupmodal()" class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Batal</button>
				<button onclick="cek1()" id="btn1" type="submit" class="btn btn-secondary" style="background-color:navy; color:white;">Simpan</button>
			</div>
		</div>
	</div>
	
</form>
</div>
<!-- <script src="jquery.js"></script> -->
<script src="pendidikan/pendidikanadd.js">
</script>
</html>
