<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
	<tr th:each="sp :${semuaprojek}" style="color: navy;">
			<td>
				<label  th:text="'- '+${sp.projectName} + ' (' + ${sp.startYear} + '-' + ${sp.startMonth} + ' ; ' + ${sp.projectDuration} + ' ' + ${sp.name} + ')'" ></label>
					<button th:href="'/projekedit/' + ${sp.id}" onclick="editprojek(this)" style="text-align: left; background: none; border: none;">
                        <span style="color: navy;" class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button th:href="'/projekdelete/' + ${sp.id}" onclick="deleteprojek(this)" style="text-align: left; background: none; border: none;">
                        <span style="color: navy;" class="glyphicon glyphicon-trash" ></span>
                    </button>
				<p th:text="${sp.projectPosition}+ ', ' + ${sp.client}">
				<p th:text="'Ket : '+${sp.description}">
			</td>
		</tr>
	</table>
	
	
	<!-- The Modal -->
		<div class="modal" id="pengalamankerjaModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 12.5%">
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
							<b style="font-size: large; " class="modal-title" id="judul"></b>
							<!-- <h4 class="modal-title">Tambah Pelatihan -->
							<button type="button" class="close" onclick="tutupmodal()">&times;</button>
							<!-- </h4> -->
						</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonpengalamankerjalist" ></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	<!-- ................................................................. -->
	<!-- The Modal -->
	<div class="modal" id="delpengalamankerjaModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header" style="background-color:#A52A2A; color:white;">
					<b style="font-size: large;" class="modal-title" id="judul2"></b>
					<!-- <h4 class="modal-title">Hapus ? -->
					<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					<!-- </h4> -->
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="delpengalamankerjalist"></div>
				</div>
			</div>
		</div>
	</div>	
</body>
<script src="projek/projeklist"></script>
</html>