<!DOCTYPE html>
<html>
<div class="row">
<form action="#" id="dataeditprojek" method="post"class="form-horizontal" th:object="${projekbyid}" >
	<input type="text" name="ids" th:field=*{id}>
	<input type="hidden" id="idpengalaman" name="riwayatPekerjaanId" th:field="*{riwayatPekerjaanId}">

	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label>Waktu Mulai Proyek *</label>
			<select class="selectpicker form-control" title="Pilih Bulan" name="startMonth" th:field=*{startMonth}>
				<option value="">-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
		</div>
		<div class="col-sm-6">
			<label style="color: white;">hide</label>
			<select class="selectpicker form-control" title="Pilih Tahun" name="startYear" th:field=*{startYear}>
				<option value="">-Pilih Tahun-</option>
				<option th:each="th :${tahun}" th:text="${th}" th:value="${th}"></option>
			</select>
		</div>
	</div>
		
	<div class="form-group col-sm-12">
		<div class="col-sm-12">
			<label class="control-label" >Nama Proyek *</label> 
			<input type="text"  class="form-control"  name="projectName" th:field=*{projectName}/>
		</div>
	</div>
	
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label" >Lama Pengerjaan</label> 
			<input type="text"  class="form-control"  name="projectDuration" th:field=*{projectDuration}/>
		</div>
		
		<div class="col-sm-6">
			<label style="color: white;" >hide</label> 
			<select class="selectpicker form-control" title="Pilih" name="timePeriodId" th:field=*{timePeriodId}>
				<option value="">-Pilih-</option>
				<option th:each="s :${pilih}" th:text="${s.name}"	th:value="${s.id}"></option>
			</select>
		</div>		
	</div>
	
	<div class="form-group col-sm-12">
		<div class="col-sm-6">
			<label class="control-label" >Client</label> 
			<input type="text"  class="form-control"  name="client" th:field=*{client}/>
		</div>
		
		<div class="col-sm-6">
			<label class="control-label" >Posisi Saat Proyek *</label> 
			<input type="text"  class="form-control"  name="projectPosition" th:field=*{projectPosition}/>
		</div>	
	</div>
	
	<div class="form-group col-sm-12">
		<div class="col-sm-12">
			<label class="control-label"> Keterangan </label>
			<input name="description" th:field=*{description} value="-"	style=" width: 100%; height: 100px; padding: 5px 10px;" class="form-control"  >								
		</div>
	</div>
	
	<div class="form-group col-sm-12">
		<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
			<div class="btn-group" role="group" aria-label="Basic example">
				<button onclick="tutupmodal()" type="button" class="btn btn-secondary" style="background-color: #fd7e14; color: white;">Batal</button>
				<button type="submit" class="btn btn-secondary"  style="background-color: navy; color: white;">Simpan</button>
			</div>
		</div>
	</div>	
	
</form>
</div>

<script src="projek/projekedit.js"></script>
</html>