<!DOCTYPE html>
<html>

<div class="row">
	<form id="dataeditfamily" method="post" class="form-horizontal" th:object="${familybyid}">
				<input type="hidden" id="id" name="ids" th:field="*{id}">
		<input type="hidden" id="biodataId" name="biodataId" th:value="*{biodataId}">
		<div class="form-group col-sm-12">
			<!-- 			       <input type="text" name="idbiodata"  th:value="${idbiodata}"> -->
			<div class="col-sm-6">
			
				<label class="control-label" style="font-size:small;">Jenis Susunan Keluarga*</label>		
				<select
					id="familyTreeTypeId" name="familyTreeTypeId"
					class="selectpicker form-control" onchange="cek1()" th:field="*{familyTreeTypeId}">
					<option value="">-Pilih-</option>
					<option th:each="st :${semuatreetype}" th:text="${st.name}"
						th:value="${st.id}"></option>
				</select>
				
			</div>
			<div class="col-sm-6" id="selectrelation">
				<label class="control-label" style="font-size:small;">Hubungan Keluarga*</label> <select
					id="familyRelationId" name="familyRelationId"
					class="selectpicker form-control" onchange="cek2()" th:field="*{familyRelationId}"> 
					<option value="">-Pilih-</option>
					<option th:each="sr :${relationtreetype}" th:text="${sr.name}"
						th:value="${sr.id}"></option>
				</select>
								
				
			</div>
			<div class="col-sm-12">
			<div class="col-sm-6">
			<span class="error_form" id="cek1error"></span>
			</div>
			<div class="col-sm-6">
			<span class="error_form" id="cek2error"></span>
			</div>
			</div>
			<div class="col-sm-6">
				<label class="control-label" style="font-size:small;">Nama*</label> 
				<input type="text" id="name" name="name" class="form-control" onkeyup="cek3()" th:field="*{name}">
			
			</div>
			<div class="col-sm-3">
				<label class="control-label" style="font-size:small;">Jenis Kelamin</label> 
				<select id="gender" name="gender" class="selectpicker form-control" th:field="*{gender}" onchange="cek4()">
					<option value="">-Pilih-</option>
					<option value=0>Perempuan</option>
					<option value=1>Laki-Laki</option>
				</select>
					<span class="error_form" id="cek4error"></span>
				
			</div>
			<div class="col-sm-3">
				<label style="font-size:small;" class="control-label">Tgl. Lahir (yyyy-mm-dd)</label> 
				<input class="datepicker form-control" id="dob" name="dob" th:field="*{dob}">
															<span class="error_form" id="cekerror"></span>
			
			</div>
			<div class="col-sm-12">
			<div class="col-sm-6">
			<span class="error_form" id="cek3error"></span>
			</div>
			<div class="col-sm-6">
			<span class="error_form" id="cekerror"></span>
			</div>
			</div>
			<div class="col-sm-6">
				<label class="control-label" style="font-size:small;">Pendidikan</label> 
				<select
					id="educationLevelId" name="educationLevelId"
					class="selectpicker form-control" th:field="*{educationLevelId}">
					<option value="4">-Pilih-</option>
					<option th:each="el :${semuaeducation}" th:text="${el.name}"
						th:value="${el.id==4?'0':el.id}"></option>
				</select>
			</div>
			<div class="col-sm-6">
				<label class="control-label" style="font-size:small;">Pekerjaan</label> 
				<input type="text" id="job" name="job" class="form-control"th:field="*{job}">
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label" style="font-size:small;">Note</label>
				<textarea class="form-control" name="notes" th:field="*{note}" /></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">

			<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group">
					<button onclick="tutupmodal()" type="button"
						class="btn btn-secondary"
						style="background-color: #fd7e14; color: white;">Batal</button>
					<button id="btn1" onclick="btn()" type="button" class="btn btn-secondary"
						style="background-color: navy; color: white;">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- <script src="../jquery.js"></script> -->
<script src="../family/familyedit.js"></script>
</html>