<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List family</title>
</head>
<body>
    <input type="hidden" id="idbiodata" name="idbiodata" th:value="${familybyid}">

	<table style="width: 70%;" class="table">
		<thead>
		<tr>
			<td style="font-size: large;"><b>Keluarga</b> <input type="image" alt="tambah" src="images/tambah.png" style="width:20px;height:20px;" onclick="addform()"></td>
		</tr>
			<tr style="border-top-color: navy; border-top-style: solid; border-bottom-color: navy; border-bottom-style: solid;">
				<td>Hubungan</td>
				<td>Nama</td>
				<td>JK</td>
				<td>Tgl Lahir</td>
				<td>Pendidikan</td>
				<td>Pekerjaan</td>
				<td>#</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sp :${semuafamily}" style="border-top:2px solid navy">
				<td th:text="${sp.relationname}"></td>
				<td th:text="${sp.name}"></td>
				<td th:text="${sp.gender==false?'P':'L'}"></td>
				<td  th:text="${#dates.format(sp.dob, 'dd-MMM-yyyy')}"></td>
				<td th:text="${sp.educationname==0?'':sp.educationname}"></td>
				<td th:text="${sp.job}"></td>
				<td><div class="dropdown">
  					<button style="background-color:navy" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   				 	<b style="color:white;">More</b>
   				 	<span class="caret" style="color:white;"></span>
  					</button>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color:navy;">
    				<button class="btn btn-link" th:href="'/familyedit/' + ${sp.id}" onclick="editfamily(this)" style="text-align:left; background:none; border:none; width:100%;">Edit</button>
    				<br>
    				<button class="btn btn-link" th:href="'/familydelete/' + ${sp.id}"  th:value="${sp.name}"  onclick="deletefamily(this)" style="text-align:left; background:none; border:none; width:100%;">Delete</button>
  				</div>
				</div></td>
			</tr>
		</tbody>
	</table>
	
	<!-- The Modal -->
		<div class="modal" id="familyModal">
			<div class="modal-dialog" style="position: fixed; left: 12.5%" >
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header" style="background-color:navy; color:white;">
						<h4 class="modal-title">family
						<button type="button" class="close" onclick="tutupmodal()">&times;</button>
					</h4></div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" style="height: 100%" id="nonfamilylist" ></div>
					</div>
				</div>
			</div>
		</div>
							<div class="clearfix"></div>
		
	<!-- ................................................................. -->
	<!-- The Modal -->
	<div class="modal" id="delfamilyModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content"style="position: fixed; left: 22.5%">
				<!-- Modal Header -->
				<div class="modal-header" style="background-color:red; color:white;">
					<h4 class="modal-title">Hapus ?
					<button type="button" class="close" onclick="tutupmodal()">&times;</button>
				</h4></div>

				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="delfamilylist"></div>
				</div>
			</div>
		</div>
	</div>
	
</body>
<script src="family/familylist.js"></script>
</html>