<!DOCTYPE html>
<html>

	<label class="control-label" style="font-size: small;">Hubungan
		Keluarga*</label>
	<select id="familyRelationId" name="familyRelationId"
	class="selectpicker form-control" onchange="cek2()">
		<option value="">-Pilih-</option>
		<option th:each="sr :${relationtreetype}" th:text="${sr.name}"
			th:value="${sr.id}"></option>
</select>
</html>