<!DOCTYPE html>
<html>

				<label class="control-label" style="font-size:small;">Hubungan Keluarga 2*</label> <select
					id="familyRelationId" name="familyRelationId" th:object="${familybyid}"
					class="selectpicker form-control" onchange="cek2()" th:field="*{familyRelationId}"> 
					<option value="">-Pilih-</option>
					<option th:each="sr :${relationtreetype}" th:text="${sr.name}"
						th:value="${sr.id}"></option>
				</select>
</html>