@charset "ISO-8859-1";
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
input {
    padding: 15px;
    align-self: center;
    min-width: 10px;
    max-width: 500px;
}