<!DOCTYPE html>
<html>
<div class="container">
	<div class="form-horizontal">
		<div class="form-group">
			<input th:object="${pelamarbyid}" type="hidden" id="ids" name="ids" th:field="*{id}">
			<div class="col-md-2 sidebar col-sm-1 control-label">
				<ul class="list-group lg1">
					<li><a href="/" class="list-group-item dp">Beranda</a></li>
<!-- 					<li><a href="/dokumen" class="list-group-item dp">Dokumen</a></li> -->
					<li><button class="list-group-item dp" th:href="'/dokumenlist/' + ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Dokumen</button></li>
<!-- 					<li><a href="/religion" class="list-group-item dp">Religion</a></li> -->
<!-- 					<li><a href="/sumberlokeredit/1" class="list-group-item dp">Sumber Loker</a></li> -->
<!-- 					<li><button class="list-group-item dp" th:href="'/sumberlokeredit/' + ${pelamarbyid.id}" onclick="editsumberloker(this)" style="text-align: right; border-color: navy;">Sumber Loker</button></li> -->
				</ul>
			</div>
			<div class="col-md-10 content">
			<div id="pelamardetailisi"></div>
<!-- 			<div th:each="sp :${semuapelamar}" ><button th:href="'/sumberlokeredit/' + ${sp.id}" onclick="editsumberloker(this)">LALALALALALAL</button></div> -->
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<script src="pelamar/pelamardetail.js"></script>
</html>

