<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Pelamar</title>
</head>
<body>
<table class="table table-striped">
	<tbody style="">
		<tr th:each="sp :${semuapelamar}">
			<td style="color:gray;">
				<label style="color: navy; font-size: 18px" th:text="${sp.fullname}"></label><br>
				<label>Nama Panggilan</label><br>
				<label>Email</label><br>
				<label>No. Handphone</label><br>
				<label>Asal Sekolah</label><br>
			</td>
			<td style="color: navy;">
				<label style="color: transparent; font-size: 18px">1</label><br>
				<label th:text="${sp.nickName}"></label><br>
				<label th:text="${sp.email}"></label><br>
				<label th:text="${sp.phoneNumber1}"></label><br>
				<label th:text="${sp.schoolName}"></label><br>
			</td>
			<td style="vertical-align: middle;">
			<div class="form-group col-sm-12">
				<div class="col-sm-3">
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
				style="background: none; border: none; width: 100%;">
				<span style="color: navy;" class="glyphicon glyphicon-search"></span>
				</button>
				</div>
				<div class="col-sm-3">			
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
				style="background: none; border: none; width: 100%;">
				<span style="color: navy;" class="glyphicon glyphicon-envelope"></span>
				</button>
				</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
<!-- 	<table class="table"> -->
<!-- 		<thead> -->
<!-- 			<tr style="border-top: thin solid navy; border-bottom: 3px solid navy;"> -->
<!-- 				<td>Nama Lengkap</td> -->
<!-- 				<td>Nama Panggilan</td> -->
<!-- 				<td>Email</td> -->
<!-- 				<td>No. Tlp</td> -->
<!-- 				<td>Asal Sekolah</td> -->
<!-- 				<td>#</td> -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr th:each="sp :${semuapelamar}"> -->
<!-- 				<td th:text="${sp.fullname}"></td> -->
<!-- 				<td th:text="${sp.nickName}"></td> -->
<!-- 				<td th:text="${sp.email}"></td> -->
<!-- 				<td th:text="${sp.phoneNumber1}"></td> -->
<!-- 				<td th:text="${sp.pendidikan}"></td> -->

<!-- 				<td><button class="btn btn-success" -->
<!-- 						th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)" -->
<!-- 						style="text-align: left; border: none; width: 100%;">Edit</button> -->
<!-- 				</td> -->
<!-- 				<td><button id="detpelamar">Detail Pelamar</button></td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->

</body>
<script src="pelamar/pelamarlist.js"></script>
</html>