<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Select Access</title>
<link rel="stylesheet" href="../fontawsome/css/all.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<link rel="stylesheet" href="../mdb4/css/bootstrap.min.css">
<link rel="stylesheet" href="../mdb4/css/mdb.min.css">
<!-- Plugin file -->
<link rel="stylesheet" href="../mdb4/css/addons/datatables.min.css">
<link rel="stylesheet" href="../mdb4/css/style.css">

<link rel="stylesheet" href="selectaccess/selectaccess.css">
</head>
<body>
	<!-- The Modal -->
	<div class="modal" id="selectaccessModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title" th:text="'Hi ,'+ ${user}"></h4>
					<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
					
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
					<div class="box-body" id="selectaccesslist"></div>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
				</div>

			</div>
		</div>
	</div>

</body>
<script type="text/javascript" src="../mdb4/js/jquery.min.js"></script>
<script type="text/javascript" src="../mdb4/js/popper.min.js"></script>
<script type="text/javascript" src="../mdb4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../mdb4/js/mdb.min.js"></script>
<!-- Plugin file -->
<script src="../mdb4/js/addons/datatables.min.js"></script>

<script src="selectaccess/selectaccess.js"></script>
</html>