<!DOCTYPE html>
<html>
<div class="row">
	<form action="#" id="dataeditpengalamankerja" method="post" class="form-horizontal" th:object="${pengalamankerjabyid}" >
	<input type="hidden" name="ids" th:field="*{id}">
	<input type="hidden" id="biodataId" name="biodataId" th:field="*{biodataId}">
	<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label" id="company">Nama Perusahaan / Instansi*</label> 
				<input type="text" name="companyName" id="companyName" class="form-control" onkeyup="btsave()" th:field="*{companyName}" />
				<span class="error_form" id="company_name_error"></span>			
			</div>
			<div  class="col-sm-3">
				<label class="control-label">Kota</label> 
				<input type="text" name="city" class="form-control" th:field="*{city}"  />
			</div>
			<div  class="col-sm-3">
				<label class="control-label">Negara</label> 
				<input type="text" name="country" class="form-control" th:field="*{country}" />
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label" id="masuk">Waktu Masuk*</label>
			</div>
			<div class="col-sm-6">
				<label class="control-label" id="keluar">Waktu Keluar</label>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan" id="joinMonth" name="joinMonth" onchange="btsave()" th:field="*{joinMonth}" >
				<option value="">-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
			<span class="error_form" id="join_month_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun" id="joinYear" name="joinYear" onchange="btsave()" th:field="*{joinYear}" >
					<option value="">-Pilih Tahun-</option>
					<option th:each="th :${tahun}" th:text="${th}" th:value="${th}"></option>
				</select>
				<span class="error_form" id="join_year_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Bulan" name="resignMonth" id="resignMonth" th:field="*{resignMonth}" >
				<option value="">-Pilih Bulan-</option>
				<option value="1">Januari</option>
				<option value="2">Februari</option>
				<option value="3">Maret</option>
				<option value="4">April</option>
				<option value="5">Mei</option>
				<option value="6">Juni</option>
				<option value="7">Juli</option>
				<option value="8">Agustus</option>
				<option value="9">September</option>
				<option value="10">Oktober</option>
				<option value="11">November</option>
				<option value="12">Desember</option>
			</select>
			<span class="error_form" id="resign_month_error"></span>
			</div>
			<div class="col-sm-3">
				<select class="selectpicker form-control" title="Pilih Tahun" name="resignYear" id="resignYear" th:field="*{resignYear}" >
					<option value="">-Pilih Tahun-</option>
					<option th:each="th :${tahun}" th:text="${th}" th:value="${th}"></option>
				</select>
				<span class="error_form" id="resign_year_error"></span>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-6">
				<label class="control-label" id="last">Posisi Terakhir*</label> 
				<input type="text" id="lastPosition" name="lastPosition" th:field="*{lastPosition}" class="form-control" onkeyup="btsave()" />
				<span class="error_form" id="last_position_error"></span>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Penghasilan Terakhir (IDR)</label> 
				<input type="text" name="income" class="form-control" th:field="*{income}" />
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="form-check col-sm-3">
				<input class="form-check-input" type="checkbox" name="isItRelated" th:field="*{isItRelated}">
  				<label class="form-check-label" for="isItRelated">IT Related ?</label>	
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label">KeteranganSingkat Mengenai Pekerjaan</label>
				<textarea class="form-control" name="aboutJob" th:field="*{aboutJob}" /></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label">Alasan Keluar</label>
				<textarea class="form-control" name="exitReason" th:field="*{exitReason}" /></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-12">
				<label class="control-label">Catatan</label>
				<textarea class="form-control" name="notes" th:field="*{notes}"  /></textarea>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="col-sm-offset-10">
				<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
				<div class="btn-group" role="group" aria-label="Basic example">
					<button onclick="tutupmodal2()" type="button" class="btn btn-secondary" style="background-color: #fd7e14; color: white;">Batal</button>
					<button type="submit" class="btn btn-secondary" id="btn_simpan" onclick="btsave()" style="background-color: navy; color: white;">Simpan</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="pengalamankerja/pengalamankerjaedit.js"></script>
</html>