@charset "ISO-8859-1";
/* .html { */
/* 	overflow-y: hidden; */
/* } */
#btnadd {
	text-align: center;
}

/* .modal-body { */
/* /*     max-height: calc(100vh - 212px); */ */
/*     overflow-y: auto; */
/*     overflow-x: hidden; */
/* } */

.fileUpload {
    position: relative;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#btn2{
	
}