body .modal-dialog 
{
	max-width: 80%;
	width: auto !important;
}

.modal-header
{
	background-color: navy;
	color: white; 
}

.modal-title
{
	color: white;
}

.dataTables_filter 
{
	display: none;
}

.dataTables_length
{
	display: none;
}

.dataTables_paginate
{
	display: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc
{
	background: none;
}