<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
.noborder {
    border-style: hidden;
}
</style>
<body>
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${sertifikasibyid}">
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${pelatihanbyid}">
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${pendidikanbyid}">
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${pengalamankerjabyid}">
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${keahlianbyid}">
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${fotobyid}">
	<table style="width: 70%; margin-left:30px" class="table table-borderless">
		<thead>
			<tr th:each="pend :${semuapendidikan}">
				<th style="width:170px" th:each="ft :${fotoprofil}">
					<img th:src="${ft.filePath}" style="height: 128px">
				</th>
				<th style="width:650px; line-height: 15px">
					<label style="font-size: 22px; line-height: 20px; color:navy" th:text="${pend.fullName}"></label><br>
					<label style="color: #808080" th:text="${umur} + ' Tahun'" id="umur"></label><br>
					<label style="color: #808080" th:text="${pend.gender==true?'Laki-laki' : 'Perempuan'}"></label><br>
					<label style="color: #808080" th:text="${pend.major} + ', ' + ${pend.schoolName}"></label><br>
					<label></label>
				</th>
				<th style="line-height: 15px">
					<button type="button" class="btn btn-sm" style="background: #023692; color:white; height: 30px; width: 85px; font-size: 13px"><b>Unduh</b></button>
					<label></label><br>
					<label></label><br>
					<label></label><br>
					<label></label><br>
					<label></label>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr style="background-color:#f2e6ff">
				<td>
					<label style="font-size: 18px; padding-left: 10px"><font color="navy"><b>Pendidikan</b></font></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr class="noborder" style="background-color:#f2e6ff" th:each="pend :${semuapendidikan}">
				<td>
					<label style="color: #808080; padding-left: 10px" th:text="${pend.entryYear} + '-' + ${pend.graduationYear}"></label>
				</td>
				<td style="line-height: 15px">
					<label style="font-size: 16px; color:navy" th:text="${pend.schoolName} + ', ' + ${pend.country}"></label><br>
					<label style="font-size: 16px; color:navy" th:text="${pend.major}"></label><br>
					<label style="font-size: 16px; color:navy" th:text="${pend.gpa}"></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr>
				<td>
					<label style="font-size: 18px; padding-left: 10px"><font color="navy"><b>Pengalaman</b></font></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr class="noborder" th:each="pker :${semuapengalamankerja}">
				<td>
					<label style="color: #808080; padding-left: 10px" th:text="${pker.joinYear} + '-' + ${pker.resignYear}"></label>
				</td>
				<td style="line-height: 15px" th:each="pend :${semuapendidikan}">
					<label style="font-size: 16px; color:navy" th:text="${pker.lastPosition}"></label><br>
					<label style="font-size: 16px; color:navy" th:text="${pker.companyName}"></label><br>
					<label style="font-size: 16px; color:navy" th:text="${pend.gpa}"></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr style="background-color:#f2e6ff" >
				<td>
					<label style="font-size: 18px; padding-left: 10px"><font color="navy"><b>Keterampilan</b></font></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr class="noborder" style="background-color:#f2e6ff">
				<td style="line-height: 15px">
					<label style="color: #808080; padding-left: 10px">Tingkat Lanjutan</label><br>
					<label style="color: #808080; padding-left: 10px">Menengah</label><br>
					<label style="color: #808080; padding-left: 10px">Pemula</label>
				</td>
				<td style="line-height: 15px" >
					<label th:each="kh :${tingkatlanjut}">
						<span style="font-size: 16px; color:navy" th:text="${kh.skillName}+ ','+ '&nbsp;' "></span>
					</label><br>
					<label th:each="kh2 :${menengah}">
						<span style="font-size: 16px; color:navy" th:text="${kh2.skillName}"></span>
					</label><br>
					<label th:each="kh3 :${pemula}">
						<span style="font-size: 16px; color:navy" th:text="${kh3.skillName}"></span>
					</label>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr>
				<td>
					<label style="font-size: 18px; padding-left: 10px"><font color="navy"><b>Training</b></font></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr th:each="sp :${semuapelatihan}" class="noborder">
				<td>
					<label style="color: #808080; padding-left: 10px" th:text="${sp.trainingYear} + '-' + ${sp.trainingYear}"></label>
				</td>
				<td style="line-height: 15px">
					<label style="font-size: 16px; color:navy" th:text="${sp.trainingName}"></label><br>
					<label style="font-size: 16px; color:navy" th:text="${sp.organizer}"></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr style="background-color:#f2e6ff">
				<td>
					<label style="font-size: 18px; padding-left: 10px"><font color="navy"><b>Sertifikasi</b></font></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
			<tr class="noborder" style="background-color:#f2e6ff" th:each="ss :${semuasertifikasi}">
				<td>
					<label style="color: #808080; padding-left: 10px" th:text="${ss.validStartYear} + '-' + ${ss.untilYear}"></label>
				</td>
				<td style="line-height: 15px">
					<!-- <label style="color: transparent; font-size: 18px; line-height: 28px">1</label><br> -->
					<label style="font-size: 16px; color:navy" th:text="${ss.certificateName}"></label><br>
					<label style="font-size: 16px; color:navy" th:text="${ss.publisher}"></label><br>
				</td>
				<td>
					<label style="color: transparent; font-size: 18px">1</label>
				</td>
			</tr>
		</tbody>
	</table>

</body>
<script src="profil/profillist.js"></script>
</html>