<!DOCTYPE html>
<html>
<div class="row">
<div class="col-sm-12">
<table style="font-size: 14px; color: navy; width: 850px"  class="table table-striped" th:each="ktm :${ktm}">
<!-- <input type="hidden" id="ids" name="ids" th:field=*{id}> -->
<!-- <input type="hidden" id="idbiodata" name="idbiodata" th:value="${keterangantambahanbyid}"> -->
		
	<tr>
		<td>Gaji yang diharapkan</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.expectedSalary}"></td>
	</tr>
	
	<tr>
		<td>Negotiable</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isNegotiable==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr>
		<td>Kapan Siap Mulai Bekerja</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.startWorking}"></td>
	</tr>
	<tr>
		<td>Bersedia Ditempat Diluar Kota</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isReadyToOutoftown==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr>
		<td>Kontak Darurat (Keluarga Tidak Serumah)</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.emergencyContactName}"></td>
	</tr>
	<tr>
		<td>No. Telp. Darurat</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.emergencyContactPhone}"></td>
	</tr>
	<tr>
		<td>Sedang Melamar Ditempat Lain</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isApplyOtherPlace==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr>
		<td>Dimana (Tempat Melamar)?</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.applyPlace}"></td>
	</tr>
	<tr>
		<td>Tahapan Seleksi Melamar</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.selectionPhase}"></td>
	</tr>
	<tr>
		<td>Pernah Sakit Berat / Lama Sembuh</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isEverBadlySick==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr>
		<td>Nama Penyakit</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.diseaseName}"></td>
	</tr>
	<tr>
		<td>Kapan (Waktu Sakit)?</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.diseaseTime}"></td>
	</tr>
	<tr>
		<td>Pernah Mengikuti Psikotest</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isEverPsychotest==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr>
		<td>Keperluan Psikotest</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.psychotestNeeds}"></td>
	</tr>
	<tr>
		<td>Kapan (Waktu Psikotes)?</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.psychotestTime}"></td>
	</tr>
	<tr>
		<td>Keterangan Lain yang Ingin Dikemukakan</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.otherNotesotherNotes}"></td>
	</tr>
</table>
</div>
<div class="col-sm-offset-11">
<button type="button" onclick="tutupmodal()"  class="btn btn-secondary" style="background-color:#fd7e14; color:white;">Close</button>
</div>
</div>
<script src="referensi/referensilist.js"></script>
</html>