<!DOCTYPE html>
<html>
<br>
<body>
<input type="hidden" id="idbiodata" name="idbiodata" th:value="${referensibyid}">
<table class="table table-striped" style="width:76%">
		<thead>
		<tr>
			<td style="font-size: large; color: navy"><b>Referensi</b> <input type="image" alt="tambah" src="images/add.png" style="width:20px;height:20px;color: navy" onclick="addform()"></td>
		</tr>
			<tr style="font-weight: bold; border-bottom: 3px solid; border-bottom-color: rgb(0,0,102);border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px">
				<td>NAMA</td>
				<td>ALAMAT</td>
				<td>JABATAN</td>
				<td>HUBUNGAN</td>
				<td style="text-align: center">#</td>
			</tr>
		</thead>
		<tbody>
			<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)" th:each="sr :${semuareferensi}" >
				<td th:text="${sr.name}"></td>
				<td th:text="${sr.addressPhone}"></td>
				<td th:text="${sr.position}"></td>
				<td th:text="${sr.relation}"></td>
				<td style="text-align: center">
					<div class="btn-group">
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="background-color:navy">More
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  		<li><a><button style="background:none; border:none;" th:href="'/referensiedit/' + ${sr.id}" onclick="editreferensi(this)">Ubah</button></a></li>
	    					<li><a><button style="background:none; border:none;" th:href="'/referensidelete/' + ${sr.id}" onclick="deletereferensi(this)">Hapus</button></a></li>
					  </ul>
					</div>
				</td>
			</tr>
		</tbody>
</table>

<b style="font-size: large; color: navy">Keterangan Tambahan</b>
<button th:each="ktm :${ktm}" th:href="'/keterangansemua/' + ${ktm.id}" onclick="semuaketerangan(this)" style="text-align: left; background: none; border: none; width: 2%;">
	<span style="color: navy;" class="glyphicon glyphicon-search"></span>
</button>
<button th:each="ktm :${ktm}" th:href="'/keteranganedit/' + ${ktm.id}" onclick="editketerangan(this)" style="text-align: left; background: none; border: none; width: 2%;">
	<span style="color: navy;" class="glyphicon glyphicon-edit"></span>
</button>
<!-- <input type="image" src="images/add.png" onclick="ubahket()" style="width: 20px; height: 20px"> -->

<input type="hidden" id="idbiodata" name="idbiodata" th:value="${keterangantambahanbyid}">
<table th:each="ktm :${ktm}" class="table table-striped" style="width: 76%; border-top: 3px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102); height: 60px;">
	<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
		<td>Gaji yang diharapkan</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.expectedSalary}"></td>
	</tr>
	<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
		<td>Negotiable</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isNegotiable==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
		<td>Kapan Siap Mulai Bekerja</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.startWorking}"></td>
	</tr>
	<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
		<td>Bersedia Ditempat Diluar Kota</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.isReadyToOutoftown==false?'Tidak':'Ya'}"></td>
	</tr>
	<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
		<td>Kontak Darurat (Keluarga Tidak Serumah)</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.emergencyContactName}"></td>
	</tr>
	<tr style="border-top: 1.5px solid; border-top-color: rgb(0,0,102);color:rgb(0,0,102)">
		<td>No. Telp. Darurat</td>
		<td th:text="':'"></td>
		<td th:text="${ktm.emergencyContactPhone}"></td>
	</tr>
</table>
<!-- The Modal -->
<div class="modal" id="referensiModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 7.5%">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<h4 class="modal-title">Tambah Referensi</b>
						<button type="button" class="close" style="background-color:navy; color:white;" onclick="tutupmodal()">&times;</button>
					</div>
					<div class="modal-body">
						<div class="box-body" id="nonreferensilist"></div>
					</div>
					
				</div>
			</div>
</div>	

<div class="modal" id="editreferensiModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 7.5%">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<b class="modal-title" style="font-size: 18px; font-weight: normal;">Ubah Referensi</b>
						<button type="button" class="close" style="background-color:navy; color:white;" onclick="tutupmodal()">&times;</button>
					</div>
					<div class="modal-body">
						<div class="box-body" id="noneditreferensilist"></div>
					</div>
					
				</div>
			</div>
</div>	

	<div class="modal" id="delreferensiModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:#990000; color:white;">
						<h4 class="modal-title">Hapus Referensi ?</b>
						
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="delreferensilist"></div>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>					
				</div>
			</div>
		</div>
		<div class="modal" id="keteranganModal">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 6.25%;">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<h4 class="modal-title">Ubah Keterangan Tambahan</b>
						<button type="button" class="close" style="background-color:navy; color:white;" onclick="tutupmodal()">&times;</button>
					</div>
					<div class="modal-body"  style="max-height: max-content;">
						<div class="box-body" id="keteranganlist"></div>
					</div>
					
				</div>
			</div>
		</div>	
		<div class="modal" id="tampilkansemua">
			<div class="modal-dialog modal-lg" style="position:fixed; left: 12.5%;">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header" style="background-color:navy; color:white;">
						<h4 class="modal-title">Keterangan Tambahan</b>
						<button type="button" class="close" style="background-color:navy; color:white;" onclick="tutupmodal()">&times;</button>
					</div>
					<div class="modal-body"  style="max-height: max-content;">
						<div class="box-body" id="listsemua"></div>
					</div>
					
				</div>
			</div>
	</div>	
	</body>
<script src="referensi/referensilist.js"></script>

</html>