<!DOCTYPE html>
<html>
<form action="#" id="dataNewOrganisasi">
	<table>
		<tr>
			<td>Nama Organisasi</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>Jabatan</td>
			<td><input type="text" name="position"></td>
		</tr>
		<tr>
			<td>Tahun Masuk</td>
			<!-- <td><input type="text" name="entryYear"></td> !-->
			<td> 
				<select name="entryYear" id="entryYear">
					<option  th:each="th :${tahunMasuk}" th:text="${th}" th:selected="${th==thnMasuk}"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Tahun Keluar</td>
			<!--  <td><input type="text" name="exitYear"></td> !-->
			<td>
				<select name="exitYear" id="exitYear">
					<option th:each="th :${tahunKeluar}" th:text="${th}" th:selected="${th==thnKeluar}"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Tanggung Jawab</td>
			<td><input type="text" name="responsibility"></td>
		</tr>
		<tr>
			<td>Catatan</td>
			<td><input type="text" name="notes"></td>
		</tr>
	</table>
	<div style="text-align: right">
			<button type="button" data-dismiss="modal" class="btn btn-danger">Batal</button>
			<button type="submit" class="btn btn-warning">Simpan</button>
	</div>
</form>
<!-- <script src="jquery.js"></script> -->
<script src="organisasi/organisasiAdd.js"></script>
</html>