<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List product</title>
</head>
<body>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<td>Nama</td>
				<td>Jabatan</td>
				<td>Periode</td>
				<td>#</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="so :${semuaOrganisasi}">
				<td th:text="${so.name}"></td>
				<td th:text="${so.position}"></td>
				<td th:text="${so.entryYear} + ' s.d ' + ${so.exitYear}"></td>
				<td>
				<div class="btn-group">
  		<button  type="button" class="btn btn-primary dropdown-toggle" 
  		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> More 
  		<span> <i class="fas fa-caret-down"> </i> </span> </button>
  				<div class="dropdown-menu">
    			<a th:href="'/organisasiEdit/' + ${so.id}" onclick="editOrganisasi(this)"> Ubah </a>
    			<div class="dropdown-divider"></div>
    			<a th:href="'/organisasiDelete/' + ${so.id}" onclick="deleteOrganisasi(this)"> Hapus </a>
  		</div>
		</div>
		</td>
		</tr>
		</tbody>
	</table>
	
	<div class="modal" id="organisasiEditModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Ubah Organisasi</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="box-body" id="nonOrganisasiEditList"></div>
					</div>
				</div>
			</div>
		</div>
	
</body>
<script src="organisasi/organisasiList.js"></script>
</html>