<!DOCTYPE html>
<html>
<div class="container">
	<div class="form-horizontal">
	 <div class="form-group">
		 
		<input th:object="${pelamarbyid}" type="hidden" id="ids" name="ids" th:field="*{id}">
		<div class="col-md-2 sidebar col-sm-1 control-label">
			<ul class="list-group lg1">
				<li><a href="/" class="list-group-item dp">Profil</a></li>
<!-- 				<li><a href="/sertifikasi/'+${pelamarbyid.id}" class="list-group-item dp">Sertifikasi</a></li> -->
<!-- 				<li><a href="/sumberlokeredit/1" class="list-group-item dp">Sumber Loker</a></li> -->
				
				<li><button class="list-group-item dp" th:href="'/sertifikasilist/' + ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Sertifikasi</button></li>
				<li><button class="list-group-item dp" th:href="'/sumberlokeredit/' + ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Sumber Loker</button></li>
				<li><button class="list-group-item dp" th:href="'/onlinetestlist/'+ ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Aktivasi Akun</button></li>
				<li><button class="list-group-item dp" th:href="'/familylist/'+ ${pelamarbyid.id}" style="text-align: right; border-color: navy;">Keluarga</button></li>
				<li><button class="list-group-item dp" href="/aktifkantest" style="text-align: right; border-color: navy;">TEST</button></li>
			</ul>
		 </div>
		<div id="pelamardetailisi"></div>
<!-- 		<div th:each="sp :${semuapelamar}" ><button th:href="'/sumberlokeredit/' + ${sp.id}" onclick="editsumberloker(this)">LALALALALALAL</button></div> -->
		</div>
	</div>
</div>
<script src="pelamar/pelamardetail.js"></script>
</html>