<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List Pelamar</title>
</head>
<body>
<!-- <button class="button" onclick="print()">Print</button> -->

	<table class="table table-striped">
		<tbody>
			<tr th:each="sp :${semuapelamar}">
			<td style="color:gray;">
				<label style="color: navy; font-size: 18px" th:text="${sp.fullname}"></label><br>
				<label>Nama Panggilan</label><br>
				<label>Email</label><br>
				<label>No. Handphone</label><br>
				<label>Pendidikan</label><br>
			</td>
			<td style="color: navy;">
				<label style="color: transparent; font-size: 18px">1</label><br>
				<label th:text="${sp.nickName}"></label><br>
				<label th:text="${sp.email}"></label><br>
				<label th:text="${sp.phoneNumber1}"></label><br>
				<label th:text="${sp.schoolName}"></label><br>
			</td>
			<td>
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
				style="text-align: left; background: none; border: none; width: 100%;">
				<span style="color: navy;" class="glyphicon glyphicon-search"></span>
				</button>
				<button class="btn btn-success" th:href="'/pelamardetail/' + ${sp.id}" onclick="detpelamar(this)"
				style="text-align: left; background: none; border: none; width: 100%;">
				<span style="color: navy;" class="glyphicon glyphicon-envelope"></span>
				</button>
			</td>
		</tr>
		</tbody>
	</table>

</body>
<script src="pelamar/pelamarlist.js"></script>
</html>